
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="  Elixir news and status updates from the community for Elixir and Phoenix
">
    <meta name="author" content="">
    
    <meta property="og:image" content="http://elixirstatus.com/images/logo.png" />

    <title>  Elixir news and status updates from the community for Elixir and Phoenix
</title>
    <link rel="stylesheet" href="/css/app-13a1a653804fd46c01da6900eb2348e5.css?vsn=d">

    <!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
<script type="text/javascript">
    window.cookieconsent_options = {
      "message":"This website uses cookies to ensure you get the best experience on this website.",
      "dismiss":"Got it!",
      "learnMore":"More info",
      "link":null,
      "theme":"light-bottom"
    };
</script>

<!-- End Cookie Consent plugin -->

  </head>

  <body>
    
<div class="sidebar">
  <div class="container">
    <div class="sidebar-header">
      <a href="/"><img src="/images/logo-b613da64304a5a6882971e7e1e616401.png?vsn=d" class="logo"/></a>
      <h1><a href="/">elixirstatus</a></h1>
      <p>Announce your new project, blog post or version update.</p>
    </div>
  </div>
  <div class="container sidebar-nav-container">
    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

    <!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
    <input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item active" href="/">Home</a>
      <a class="sidebar-nav-item" href="/about">About</a>
      <span class="sidebar-nav-item">You can follow via</span>
      <a class="sidebar-nav-item" href="https://twitter.com/elixirstatus" target="_blank">Twitter</a>
      <a class="sidebar-nav-item" href="/rss">RSS</a>
      <span class="sidebar-nav-item">Running on Phoenix!</span>
      <a class="sidebar-nav-item" href="https://github.com/rrrene/elixirstatus-web" target="_blank">Open Source</a>
    </nav>
  </div>
</div>


    <div class="content">
      <div class="container">
        <div class="posts">
  
    <div class="post sign-in-to-post">
      <div class="post-avatar">
        <div class="image" style="background-color: #f5f5f5; border: 1px dashed #aaa;"></div>
      </div>
      <a class="btn btn-sign-in" href="/auth"><i class="icon-git"></i> Sign in and post</a>
    </div>
  

  

  
    <div class="post" data-posting-uid="BR70">
  <div class="post-avatar">
    <div class="image" style="background-image: url(/images/github/mindreframer.jpg)"></div>
  </div>

  <h1 class="post-title"><a href="/p/BR70-ruby-vs-elixir---code-quality-on-github-ruby-elixirlang">Ruby vs Elixir - code quality on Github #ruby #elixirlang</a></h1>

  <span class="post-meta">
    <span class="post-date">17 Dec</span>
    <span class="post-author">
      by
      <a href="https://github.com/mindreframer" target="_blank"><i class="icon-git_circle"></i> mindreframer</a>
    </span>

      <span class="functions">
        
          |
          <a href="https://twitter.com/intent/retweet?tweet_id=677472213226901504" target="_blank"><i class="icon-retweet"></i> Retweet this</a>
        

        

        
      </span>
  </span>

  <div class="post-body">
    <p><a href="http://ruby2elixir.github.io/posts/2015/12-17-elixir-vs-ruby---code-quality.html">http://ruby2elixir.github.io/posts/2015/12-17-elixir-vs-ruby---code-quality.html</a></p><p>A quick comparison of language code bases and some resulting (biased) conclusions.</p>
  </div>

  
</div>

    
  
    <div class="post" data-posting-uid="PxB0">
  <div class="post-avatar">
    <div class="image" style="background-image: url(/images/github/joekain.jpg)"></div>
  </div>

  <h1 class="post-title"><a href="/p/PxB0-setting-up-ecto-in-an-elixir-application">Setting up Ecto in an Elixir Application</a></h1>

  <span class="post-meta">
    <span class="post-date">17 Dec</span>
    <span class="post-author">
      by
      <a href="https://github.com/joekain" target="_blank"><i class="icon-git_circle"></i> joekain</a>
    </span>

      <span class="functions">
        
          |
          <a href="https://twitter.com/intent/retweet?tweet_id=677309466942046209" target="_blank"><i class="icon-retweet"></i> Retweet this</a>
        

        

        
      </span>
  </span>

  <div class="post-body">
    <p>I setup Ecto within my Domain Scrapper application.  See what I learned. </p><p><a href="http://learningelixir.joekain.com/setting-up-ecto-in-elixir/">http://learningelixir.joekain.com/setting-up-ecto-in-elixir/</a></p>
  </div>

  
</div>

    
  
    <div class="post" data-posting-uid="654p">
  <div class="post-avatar">
    <div class="image" style="background-image: url(/images/github/jfcloutier.jpg)"></div>
  </div>

  <h1 class="post-title"><a href="/p/654p-lego-robot-powered-by-elixir-has-a-mind-of-its-own">Lego robot powered by Elixir has a mind of its own</a></h1>

  <span class="post-meta">
    <span class="post-date">16 Dec</span>
    <span class="post-author">
      by
      <a href="https://github.com/jfcloutier" target="_blank"><i class="icon-git_circle"></i> jfcloutier</a>
    </span>

      <span class="functions">
        
          |
          <a href="https://twitter.com/intent/retweet?tweet_id=677232741763653632" target="_blank"><i class="icon-retweet"></i> Retweet this</a>
        

        

        
      </span>
  </span>

  <div class="post-body">
    <p>Yesterday was part 3 of a series on Elixir and Robotics at the <a href="http://www.meetup.com/Portland-Erlang-Elixir/">Portland (Maine) Erlang &amp; Elixir meetup</a>. </p><p>I demoed a mobile Lego Mindstorms robot running an Elixir implementation of a home-brewed “model of the mind”. The robot in turn foraged, roamed and panicked as it reacted to changes in its situation.</p><p>See my <a href="http://jfcloutier.github.io/robotex/#december-16-2015">latest post</a>.</p>
  </div>

  
</div>

    
      <div class="post">
  <div class="post-avatar">
  </div>

  <div class="post-body">
    <p>
      <span style="background: #ffa;">Shameless plug:</span> Checkout <a href="https://twitter.com/elixirstatus">@elixirstatus</a>' other community project:
    </p>
    <p>
      <a href="https://github.com/rrrene/credo" target="_blank"><img align=left src="/images/credo-thumb-f29ffa6f6b2c1b5a18fb933c50e93f1e.png?vsn=d" style="margin-right: 10px"/></a>
      <a href="https://github.com/rrrene/credo" target="_blank" style="color: #0a0; font-weight: bold;">Credo</a>, a new static code analysis tool that acts as a code linter, but also focusses on teaching coding practices and code consistency.
    </p>
  </div>
</div>

    
  
    <div class="post" data-posting-uid="lfn4">
  <div class="post-avatar">
    <div class="image" style="background-image: url(/images/github/dbeck.jpg)"></div>
  </div>

  <h1 class="post-title"><a href="/p/lfn4-this-weeks-scalesmall-post-packs-more-elixir-goodies-and-less-theory-by-dbeck74">This week’s scalesmall post packs more Elixir goodies and less theory (by @dbeck74)</a></h1>

  <span class="post-meta">
    <span class="post-date">16 Dec</span>
    <span class="post-author">
      by
      <a href="https://github.com/dbeck" target="_blank"><i class="icon-git_circle"></i> dbeck</a>
    </span>

      <span class="functions">
        
          |
          <a href="https://twitter.com/intent/retweet?tweet_id=677005847084589057" target="_blank"><i class="icon-retweet"></i> Retweet this</a>
        

        

        
      </span>
  </span>

  <div class="post-body">
    <p>This post puts emphasis on being useful outside the <code>scalesmall</code> experiment and shows examples about embedding ranch into my supervision tree, and a bit of UDP multicast:</p><p><a href="http://dbeck.github.io/Scalesmall-W5-UDP-Multicast-Mixed-With-TCP/">http://dbeck.github.io/Scalesmall-W5-UDP-Multicast-Mixed-With-TCP/</a></p><p>Hope you find this useful.</p>
  </div>

  
</div>

    
  
    <div class="post" data-posting-uid="zJu8">
  <div class="post-avatar">
    <div class="image" style="background-image: url(/images/github/hugobarauna.jpg)"></div>
  </div>

  <h1 class="post-title"><a href="/p/zJu8-ecto-v11-released-and-ecto-v20-plans">Ecto v1.1 released and Ecto v2.0 plans</a></h1>

  <span class="post-meta">
    <span class="post-date">15 Dec</span>
    <span class="post-author">
      by
      <a href="https://github.com/hugobarauna" target="_blank"><i class="icon-git_circle"></i> hugobarauna</a>
    </span>

      <span class="functions">
        
          |
          <a href="https://twitter.com/intent/retweet?tweet_id=676763188826869760" target="_blank"><i class="icon-retweet"></i> Retweet this</a>
        

        

        
      </span>
  </span>

  <div class="post-body">
    <p>Ecto 1.1 has been released, and José Valim wrote a blog post about it and also about what you can expect from Ecto 2.0.</p><p>One of the interesting news about Ecto is that Ecto.Model is being deprecated. <a href="http://blog.plataformatec.com.br/2015/12/ecto-v1-1-released-and-ecto-v2-0-plans/">Read the blog post</a> and discover why.</p>
  </div>

  
</div>

    
  
    <div class="post" data-posting-uid="SsTk">
  <div class="post-avatar">
    <div class="image" style="background-image: url(/images/github/akitaonrails.jpg)"></div>
  </div>

  <h1 class="post-title"><a href="/p/SsTk-small-pushercom-replacement">Small Pusher.com replacement</a></h1>

  <span class="post-meta">
    <span class="post-date">14 Dec</span>
    <span class="post-author">
      by
      <a href="https://github.com/akitaonrails" target="_blank"><i class="icon-git_circle"></i> akitaonrails</a>
    </span>

      <span class="functions">
        
          |
          <a href="https://twitter.com/intent/retweet?tweet_id=676448488427757568" target="_blank"><i class="icon-retweet"></i> Retweet this</a>
        

        

        
      </span>
  </span>

  <div class="post-body">
    <p>In <a href="http://www.akitaonrails.com/2015/12/14/ex-pusher-lite-part-2-first-working-core">Part 2</a> of my series about “Ex Pusher Lite” I finish my small system that can be used to replace simple use cases of Pusher.com in your own environment. There is the obligatory real-time chat over a Rails app that I deployed on Heroku if you want to see it in action <a href="https://expusherlite-client.herokuapp.com/">here</a>. Of course, this is not full featured yet, but the core works. Follow this <a href="http://www.akitaonrails.com/expusherlite">series</a> to know when I add new features.</p>
  </div>

  
</div>

    
  
    <div class="post" data-posting-uid="ajnv">
  <div class="post-avatar">
    <div class="image" style="background-image: url(/images/github/rrrene.jpg)"></div>
  </div>

  <h1 class="post-title"><a href="/p/ajnv-credo-has-its-own-style-guide">Credo has its own Style Guide</a></h1>

  <span class="post-meta">
    <span class="post-date">11 Dec</span>
    <span class="post-author">
      by
      <a href="https://github.com/rrrene" target="_blank"><i class="icon-git_circle"></i> rrrene</a>
    </span>

      <span class="functions">
        
          |
          <a href="https://twitter.com/intent/retweet?tweet_id=675341756502777857" target="_blank"><i class="icon-retweet"></i> Retweet this</a>
        

        

        
      </span>
  </span>

  <div class="post-body">
    <p>If you wanna know about Credo’s Style Guide, this is intended for some light reading on the weekend: <a href="http://trivelop.de/2015/12/11/writing-a-style-guide">http://trivelop.de/2015/12/11/writing-a-style-guide</a></p>
  </div>

  
</div>

    
  
    <div class="post" data-posting-uid="jeBf">
  <div class="post-avatar">
    <div class="image" style="background-image: url(/images/github/cryptobird.jpg)"></div>
  </div>

  <h1 class="post-title"><a href="/p/jeBf-track-the-iss-using-the-open-notify-api">Track the ISS using the Open Notify API</a></h1>

  <span class="post-meta">
    <span class="post-date"> 9 Dec</span>
    <span class="post-author">
      by
      <a href="https://github.com/cryptobird" target="_blank"><i class="icon-git_circle"></i> cryptobird</a>
    </span>

      <span class="functions">
        
          |
          <a href="https://twitter.com/intent/retweet?tweet_id=674714790544187392" target="_blank"><i class="icon-retweet"></i> Retweet this</a>
        

        

        
      </span>
  </span>

  <div class="post-body">
    <p>A small wrapper for the open notify api that allows you to get the ISS’s current location, crew, and when it will pass over certain coordinates</p><p><a href="https://github.com/cryptobird/ex_iss">https://github.com/cryptobird/ex_iss</a></p>
  </div>

  
</div>

    
  
    <div class="post" data-posting-uid="plZs">
  <div class="post-avatar">
    <div class="image" style="background-image: url(/images/github/dbeck.jpg)"></div>
  </div>

  <h1 class="post-title"><a href="/p/plZs-finalized-the-group-membership-message-contents-of-scalesmall-during-the-4th-week-dbeck74">Finalized the group membership message contents of scalesmall during the 4th week (@dbeck74)</a></h1>

  <span class="post-meta">
    <span class="post-date"> 9 Dec</span>
    <span class="post-author">
      by
      <a href="https://github.com/dbeck" target="_blank"><i class="icon-git_circle"></i> dbeck</a>
    </span>

      <span class="functions">
        
          |
          <a href="https://twitter.com/intent/retweet?tweet_id=674579120865583104" target="_blank"><i class="icon-retweet"></i> Retweet this</a>
        

        

        
      </span>
  </span>

  <div class="post-body">
    <p>After having spent so much time with planning, I finalized part of the scalesmall design and implemented it together with the unit tests:</p><p><a href="http://dbeck.github.io/Scalesmall-W4-Message-Contents-Finalized/">http://dbeck.github.io/Scalesmall-W4-Message-Contents-Finalized/</a></p><p>(This is an open source Elixir project on github. References are in the blog post.)</p>
  </div>

  
</div>

    
  
    <div class="post" data-posting-uid="jeDf">
  <div class="post-avatar">
    <div class="image" style="background-image: url(/images/github/rymai.jpg)"></div>
  </div>

  <h1 class="post-title"><a href="/p/jeDf-populating-database-tables-from-a-csv-in-elixir">Populating database tables from a CSV in Elixir</a></h1>

  <span class="post-meta">
    <span class="post-date"> 8 Dec</span>
    <span class="post-author">
      by
      <a href="https://github.com/rymai" target="_blank"><i class="icon-git_circle"></i> rymai</a>
    </span>

      <span class="functions">
        
          |
          <a href="https://twitter.com/intent/retweet?tweet_id=674308005215780865" target="_blank"><i class="icon-retweet"></i> Retweet this</a>
        

        

        
      </span>
  </span>

  <div class="post-body">
    <p>For my current project, I had to populate my database with data from a CSV file. It was a nice experiment that I documented in the following blog post:</p><p><a href="http://www.rymai.me/2015/12/08/populating-database-tables-from-a-csv-in-elixir/">http://www.rymai.me/2015/12/08/populating-database-tables-from-a-csv-in-elixir/</a></p>
  </div>

  
</div>

    
  
    <div class="post" data-posting-uid="SLlX">
  <div class="post-avatar">
    <div class="image" style="background-image: url(/images/github/joekain.jpg)"></div>
  </div>

  <h1 class="post-title"><a href="/p/SLlX-idiomatic-elixir">Idiomatic Elixir</a></h1>

  <span class="post-meta">
    <span class="post-date"> 7 Dec</span>
    <span class="post-author">
      by
      <a href="https://github.com/joekain" target="_blank"><i class="icon-git_circle"></i> joekain</a>
    </span>

      <span class="functions">
        
          |
          <a href="https://twitter.com/intent/retweet?tweet_id=673962847555215362" target="_blank"><i class="icon-retweet"></i> Retweet this</a>
        

        

        
      </span>
  </span>

  <div class="post-body">
    <p>A discussion on Idiomatic Elixir and an announcement for a new book.</p><p><a href="http://learningelixir.joekain.com/idiomatic-elixir/">http://learningelixir.joekain.com/idiomatic-elixir/</a></p>
  </div>

  
</div>

    
  
    <div class="post" data-posting-uid="G47G">
  <div class="post-avatar">
    <div class="image" style="background-image: url(/images/github/rrrene.jpg)"></div>
  </div>

  <h1 class="post-title"><a href="/p/G47G-credo-020-released">Credo 0.2.0 released!</a></h1>

  <span class="post-meta">
    <span class="post-date"> 7 Dec</span>
    <span class="post-author">
      by
      <a href="https://github.com/rrrene" target="_blank"><i class="icon-git_circle"></i> rrrene</a>
    </span>

      <span class="functions">
        
          |
          <a href="https://twitter.com/intent/retweet?tweet_id=673878708344758273" target="_blank"><i class="icon-retweet"></i> Retweet this</a>
        

        

        
      </span>
  </span>

  <div class="post-body">
    <p>This update adds Error Codes for CI and 10+ new checks! </p><p>GitHub: <a href="https://github.com/rrrene/credo">https://github.com/rrrene/credo</a>  (<a href="https://github.com/rrrene/credo/blob/c038ed8816221f23a7d9bd63b08b1df496029243/CHANGELOG.md">CHANGELOG</a>)</p><p><a href="https://github.com/rrrene/credo"><img src="https://pbs.twimg.com/media/CVoYOlOVEAEV6Jm.png:large" alt="" /></a></p>
  </div>

  
</div>

    
  
    <div class="post" data-posting-uid="P7lZ">
  <div class="post-avatar">
    <div class="image" style="background-image: url(/images/github/whatyouhide.jpg)"></div>
  </div>

  <h1 class="post-title"><a href="/p/P7lZ-using-c-from-elixir-with-nifs">Using C from Elixir with NIFs</a></h1>

  <span class="post-meta">
    <span class="post-date"> 7 Dec</span>
    <span class="post-author">
      by
      <a href="https://github.com/whatyouhide" target="_blank"><i class="icon-git_circle"></i> whatyouhide</a>
    </span>

      <span class="functions">
        
          |
          <a href="https://twitter.com/intent/retweet?tweet_id=673796719482707969" target="_blank"><i class="icon-retweet"></i> Retweet this</a>
        

        

        
      </span>
  </span>

  <div class="post-body">
    <p>I wrote a hopefully comprehensive article about using NIFs in Elixir :)</p><p><a href="http://andrealeopardi.com/posts/using-c-from-elixir-with-nifs/"><a href="http://andrealeopardi.com/posts/using-c-from-elixir-with-nifs/">http://andrealeopardi.com/posts/using-c-from-elixir-with-nifs/</a></a></p>
  </div>

  
</div>

    
  
    <div class="post" data-posting-uid="EzNP">
  <div class="post-avatar">
    <div class="image" style="background-image: url(/images/github/lnikkila.jpg)"></div>
  </div>

  <h1 class="post-title"><a href="/p/EzNP-rangeextras-o1-set-operations-and-random-sampling-for-ranges">RangeExtras: O(1) set operations and random sampling for ranges</a></h1>

  <span class="post-meta">
    <span class="post-date"> 7 Dec</span>
    <span class="post-author">
      by
      <a href="https://github.com/lnikkila" target="_blank"><i class="icon-git_circle"></i> lnikkila</a>
    </span>

      <span class="functions">
        
          |
          <a href="https://twitter.com/intent/retweet?tweet_id=673672880752861184" target="_blank"><i class="icon-retweet"></i> Retweet this</a>
        

        

        
      </span>
  </span>

  <div class="post-body">
    <p><a href="https://github.com/lnikkila/elixir-range-extras">RangeExtras</a> gives you fast set operations and random sampling:</p><pre><code>iex&gt; RangeExtras.union(1..4, 3..5)
[1..5]

iex&gt; RangeExtras.difference(8..1, 4..4)
[8..5, 3..1]

iex&gt; RangeExtras.intersection(8..1, -4..0)
[]

iex&gt; RangeExtras.random(1..1_000_000)
166577</code></pre><p><code>RangeExtras.random/1</code> benchmarked against <code>Enum.random/1</code>:</p><pre><code>RangeExtras.random(1..1000)         0.89 µs/op
Enum.random(1..1000)                375.37 µs/op

RangeExtras.random(1..1_000_000)    0.90 µs/op
Enum.random(1..1_000_000)           385288.60 µs/op</code></pre><p>I hope you find this useful! <a href="https://hex.pm/packages/range_extras">Grab it from Hex.</a></p>
  </div>

  
</div>

    
  
    <div class="post" data-posting-uid="4szO">
  <div class="post-avatar">
    <div class="image" style="background-image: url(/images/github/mbasso.jpg)"></div>
  </div>

  <h1 class="post-title"><a href="/p/4szO-released-mandrake-v004-httpshexpmpackagesmandrake">Released Mandrake v0.0.4: <a href="https://hex.pm/packages/mandrake">https://hex.pm/packages/mandrake</a></a></h1>

  <span class="post-meta">
    <span class="post-date"> 6 Dec</span>
    <span class="post-author">
      by
      <a href="https://github.com/mbasso" target="_blank"><i class="icon-git_circle"></i> mbasso</a>
    </span>

      <span class="functions">
        
          |
          <a href="https://twitter.com/intent/retweet?tweet_id=673549988216053760" target="_blank"><i class="icon-retweet"></i> Retweet this</a>
        

        

        
      </span>
  </span>

  <div class="post-body">
    <p>Mandrake is a functional programming library that bring something else magic in elixir.</p><p>Github: <a href="https://github.com/mbasso/mandrake">https://github.com/mbasso/mandrake</a></p><p>Hope you find this useful.</p>
  </div>

  
</div>

    
  
    <div class="post" data-posting-uid="Dl6B">
  <div class="post-avatar">
    <div class="image" style="background-image: url(/images/github/henrik.jpg)"></div>
  </div>

  <h1 class="post-title"><a href="/p/Dl6B-how-to-support-doelseafter-blocks-in-your-own-elixir-functions">How to support do/else/after blocks in your own Elixir functions</a></h1>

  <span class="post-meta">
    <span class="post-date"> 5 Dec</span>
    <span class="post-author">
      by
      <a href="https://github.com/henrik" target="_blank"><i class="icon-git_circle"></i> henrik</a>
    </span>

      <span class="functions">
        
          |
          <a href="https://twitter.com/intent/retweet?tweet_id=673093454235361280" target="_blank"><i class="icon-retweet"></i> Retweet this</a>
        

        

        
      </span>
  </span>

  <div class="post-body">
    <p>I <a href="http://thepugautomatic.com/2015/12/elixir-block-keywords/">blogged about Elixir’s block keywords</a>.</p><p>The blog post explains how they work and implements a silly macro to print a random animal:</p><pre><code>MyMacro.pick do
  IO.write "dog"
else
  IO.write "cat"
after
  IO.puts "!"
end</code></pre>
  </div>

  
</div>

    
  
    <div class="post" data-posting-uid="asBa">
  <div class="post-avatar">
    <div class="image" style="background-image: url(/images/github/henrik.jpg)"></div>
  </div>

  <h1 class="post-title"><a href="/p/asBa-the-beam-toolbox-categorized-hex-packages-">The BEAM Toolbox (categorized Hex packages) </a></h1>

  <span class="post-meta">
    <span class="post-date"> 3 Dec</span>
    <span class="post-author">
      by
      <a href="https://github.com/henrik" target="_blank"><i class="icon-git_circle"></i> henrik</a>
    </span>

      <span class="functions">
        
          |
          <a href="https://twitter.com/intent/retweet?tweet_id=672512125978451970" target="_blank"><i class="icon-retweet"></i> Retweet this</a>
        

        

        
      </span>
  </span>

  <div class="post-body">
    <p>Use <a href="http://toolbox.elixir.pm/">The BEAM Toolbox</a> to browse Elixir and Erlang packages.</p><p>You can also <a href="http://toolbox.elixir.pm/#p-0">help out by categorizing a few packages</a> – you learn things, and it’s strangely addictive…</p>
  </div>

  
</div>

    
  
    <div class="post" data-posting-uid="TLGm">
  <div class="post-avatar">
    <div class="image" style="background-image: url(/images/github/akitaonrails.jpg)"></div>
  </div>

  <h1 class="post-title"><a href="/p/TLGm-ex-manga-downloadr---part-4-learning-through-refactoring">Ex Manga Downloadr - Part 4: Learning through Refactoring</a></h1>

  <span class="post-meta">
    <span class="post-date"> 3 Dec</span>
    <span class="post-author">
      by
      <a href="https://github.com/akitaonrails" target="_blank"><i class="icon-git_circle"></i> akitaonrails</a>
    </span>

      <span class="functions">
        
          |
          <a href="https://twitter.com/intent/retweet?tweet_id=672503142559424512" target="_blank"><i class="icon-retweet"></i> Retweet this</a>
        

        

        
      </span>
  </span>

  <div class="post-body">
    <p>Yesterday I just posted <a href="http://www.akitaonrails.com/2015/12/02/ex-manga-downloadr-part-3-mangafox-support">Part 3</a> of my Manga downloader exercise and now it was time for a cleaning up and refactoring to make the code more presentable. And this is <a href="http://www.akitaonrails.com/2015/12/03/ex-manga-downloadr-part-4-learning-through-refactoring">Part 4</a> where I finally explore a bit more of Elixir’s macros.</p>
  </div>

  
</div>

    
  
    <div class="post" data-posting-uid="NzEE">
  <div class="post-avatar">
    <div class="image" style="background-image: url(/images/github/dbeck.jpg)"></div>
  </div>

  <h1 class="post-title"><a href="/p/NzEE-how-i-added-custom-predicate-guards-w-macros-in-scalesmall-dbeck74">How I added custom predicate guards w/ macros in scalesmall (@dbeck74)</a></h1>

  <span class="post-meta">
    <span class="post-date"> 3 Dec</span>
    <span class="post-author">
      by
      <a href="https://github.com/dbeck" target="_blank"><i class="icon-git_circle"></i> dbeck</a>
    </span>

      <span class="functions">
        
          |
          <a href="https://twitter.com/intent/retweet?tweet_id=672442406843899904" target="_blank"><i class="icon-retweet"></i> Retweet this</a>
        

        

        
      </span>
  </span>

  <div class="post-body">
    <p>3 weeks has passed with the experiment and finally I decided what to implement from my too many ideas. This post is about a small implementation detail that enables tight predicate checking with custom guards on functions:</p><p><a href="http://dbeck.github.io/Scalesmall-W3-Elixir-Macro-Guards/">http://dbeck.github.io/Scalesmall-W3-Elixir-Macro-Guards/</a></p><p>Hope you find this useful.</p>
  </div>

  
</div>

    
  
    <div class="post" data-posting-uid="AEnc">
  <div class="post-avatar">
    <div class="image" style="background-image: url(/images/github/akitaonrails.jpg)"></div>
  </div>

  <h1 class="post-title"><a href="/p/AEnc-the-obligatory-flame-war-phoenix-vs-nodejs">The Obligatory “Flame War” Phoenix vs Node.js</a></h1>

  <span class="post-meta">
    <span class="post-date"> 3 Dec</span>
    <span class="post-author">
      by
      <a href="https://github.com/akitaonrails" target="_blank"><i class="icon-git_circle"></i> akitaonrails</a>
    </span>

      <span class="functions">
        
          |
          <a href="https://twitter.com/intent/retweet?tweet_id=672418673978695680" target="_blank"><i class="icon-retweet"></i> Retweet this</a>
        

        

        
      </span>
  </span>

  <div class="post-body">
    <p>I don’t usually like flame wars, but I just couldn’t help myself here. This is my biased, unfair take on <a href="http://www.akitaonrails.com/2015/12/03/the-obligatory-flame-war-phoenix-vs-node-js">Phoenix vs Node.js</a> in a very simple and unfair synthetic benchmark. Viewer discretion is advised.</p>
  </div>

  
</div>

    
  
</div>

<div class="pagination">
  
    <span class="pagination-item older">Previous</span>
  
  
    <a class="pagination-item newer" href="/?page=2">Next</a>
  
</div>

<div class="search">
  <form method="get" action="/">
    <input type="text" name="q"/ placeholder="Search ...">
  </form>
</div>

      </div>
    </div>

    <div class="footer">
  <div class="inner">
    <p>
      ElixirStatus let's you publish links back to stuff you created: new projects, blog posts or version updates.
    </p>

    <p>
      It is an <a href="https://github.com/rrrene/elixirstatus-web" target="_blank">open source project</a>, built by community members
     with <a href="http://elixir-lang.org" target="_blank">Elixir</a>+<a href="http://phoenixframework.org" target="_blank">Phoenix</a>.
    </p>

    <p>
      Please contact René Föhring (<a href="https://twitter.com/rrrene" target="_blank">@rrrene</a>) or <a href="https://github.com/rrrene/elixirstatus-web/issues/new" target="_blank">create an issue</a> if anything seems broken or worthy of improvement.
    </p>

    <p>
      
        <a href="/auth">Sign in with GitHub</a>
      
      |
      <a href="http://trivelop.de/imprint/">Contact</a>
      |
      <a href="http://trivelop.de/imprint/">Imprint</a>
      |
      <a href="http://trivelop.de/">Blog</a>
    </p>
  </div>
</div>


    <script src="/js/app-bf2cbe72dccc074c36d0556d9de757e7.js?vsn=d"></script>
    <script>require("web/static/js/app/app")</script>

    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-47478322-4', 'auto');
  ga('send', 'pageview');
</script>

  </body>
</html>
