
<HTML>
<HEAD>
<TITLE>Grim Dawn: An Krebs verstorbener Fan im Rollenspiel verewigt - News - games-news.de</TITLE>
</HEAD>
<FRAMESET rows='20,*' framespacing='0' frameborder='no' border='0'>
<FRAME name='top' marginwidth='0' marginheight='0' src='/gotonews/back.php?id=2194501&amp;headline=Grim+Dawn%3A+An+Krebs+verstorbener+Fan+im+Rollenspiel+verewigt&amp;url=http%3A%2F%2Fwww.gamona.de%2Fgames%2Fgrim-dawn%2Can-krebs-verstorbener-fan-im-rollenspiel-verewigt%3Anews.html&amp;backurl=%2F' frameborder='0' scrolling='no' noresize>
<FRAME name='content' src='http://www.gamona.de/games/grim-dawn,an-krebs-verstorbener-fan-im-rollenspiel-verewigt:news.html' scrolling='Auto' noresize>
</FRAMESET><noframes></noframes>
</HTML>
