
<html op="news"><head><meta name="referrer" content="origin"><meta name="viewport" content="width=device-width, initial-scale=1.0"><link rel="stylesheet" type="text/css" href="news.css?7lztI8BZi6Wqyl7JAthq">
        <link rel="shortcut icon" href="favicon.ico">
          <link rel="alternate" type="application/rss+xml" title="RSS" href="rss">
        <script type="text/javascript">
function hide(id) {
  var el = document.getElementById(id);
  if (el) { el.style.visibility = 'hidden'; }
}
function vote(node) {
  var v = node.id.split(/_/);
  var item = v[1];
  hide('up_'   + item);
  hide('down_' + item);
  var ping = new Image();
  ping.src = node.href;
  return false;
  }
    </script><title>Hacker News</title></head><body><center><table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
        <tr><td bgcolor="#ff6600"><table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:2px"><tr><td style="width:18px;padding-right:4px"><a href="http://www.ycombinator.com"><img src="y18.gif" width="18" height="18" style="border:1px #ffffff solid;"></a></td>
                  <td style="line-height:12pt; height:10px;"><span class="pagetop"><b class="brandname"><a href="news">Hacker News</a></b>
              <a href="newest">new</a> | <a href="threads?id=anonyfox">threads</a> | <a href="newcomments">comments</a> | <a href="show">show</a> | <a href="ask">ask</a> | <a href="jobs">jobs</a> | <a href="submit">submit</a>            </span></td><td style="text-align:right;padding-right:4px;"><span class="pagetop">
                              <a href="user?id=anonyfox">anonyfox</a>
                (275) |
                <a href="logout?goto=news">logout</a>
                          </span></td>
              </tr></table></td></tr>
<tr style="height:10px"></tr><tr><td><table border="0" cellpadding="0" cellspacing="0" class="itemlist">
              <tr class='athing'>
      <td align="right" valign="top" class="title"><span class="rank">1.</span></td>      <td valign="top" class="votelinks"><center><a id="up_10769538" onclick="return vote(this)" href="vote?for=10769538&amp;dir=up&amp;auth=41829031ebc71e879f9163bd561725261da1bbaf&amp;goto=news"><div class="votearrow" title="upvote"></div></a></center></td><td class="title"><span class="deadmark"></span><a href="http://www.economist.com/news/business/21684107-cult-extreme-physical-endurance-taking-root-among-executives-here-comes-superboss?fsrc=scn/fb/te/pe/ed/herecomessuperboss">A cargo cult of extreme physical endurance is taking root among CEOs</a><span class="sitebit comhead"> (<a href="from?site=economist.com"><span class="sitestr">economist.com</span></a>)</span></td></tr><tr><td colspan="2"></td><td class="subtext">
        <span class="score" id="score_10769538">19 points</span> by <a href="user?id=cryoshon">cryoshon</a> <a href="item?id=10769538">1 hour ago</a>  | <a href="flag?id=10769538&amp;auth=41829031ebc71e879f9163bd561725261da1bbaf&amp;goto=news">flag</a> | <a href="item?id=10769538">15 comments</a>              </td></tr>
      <tr class="spacer" style="height:5px"></tr>
                <tr class='athing'>
      <td align="right" valign="top" class="title"><span class="rank">2.</span></td>      <td valign="top" class="votelinks"><center><a id="up_10768720" onclick="return vote(this)" href="vote?for=10768720&amp;dir=up&amp;auth=0659d038ae82a51a14afad55e1f67404d2130338&amp;goto=news"><div class="votearrow" title="upvote"></div></a></center></td><td class="title"><span class="deadmark"></span><a href="https://community.rapid7.com/community/infosec/blog/2015/12/20/cve-2015-7755-juniper-screenos-authentication-backdoor">Juniper screenOS authentication backdoor - master ssh password posted</a><span class="sitebit comhead"> (<a href="from?site=rapid7.com"><span class="sitestr">rapid7.com</span></a>)</span></td></tr><tr><td colspan="2"></td><td class="subtext">
        <span class="score" id="score_10768720">180 points</span> by <a href="user?id=ghshephard">ghshephard</a> <a href="item?id=10768720">6 hours ago</a>  | <a href="flag?id=10768720&amp;auth=0659d038ae82a51a14afad55e1f67404d2130338&amp;goto=news">flag</a> | <a href="item?id=10768720">71 comments</a>              </td></tr>
      <tr class="spacer" style="height:5px"></tr>
                <tr class='athing'>
      <td align="right" valign="top" class="title"><span class="rank">3.</span></td>      <td valign="top" class="votelinks"><center><a id="up_10769243" onclick="return vote(this)" href="vote?for=10769243&amp;dir=up&amp;auth=51b7618889e2fc502b5e26f5a9d6a72636e4e82f&amp;goto=news"><div class="votearrow" title="upvote"></div></a></center></td><td class="title"><span class="deadmark"></span><a href="http://fortune.com/2015/12/17/how-theranos-misled-me-elizabeth-holmes/">How Theranos Misled Me</a><span class="sitebit comhead"> (<a href="from?site=fortune.com"><span class="sitestr">fortune.com</span></a>)</span></td></tr><tr><td colspan="2"></td><td class="subtext">
        <span class="score" id="score_10769243">61 points</span> by <a href="user?id=apsec112">apsec112</a> <a href="item?id=10769243">2 hours ago</a>  | <a href="flag?id=10769243&amp;auth=51b7618889e2fc502b5e26f5a9d6a72636e4e82f&amp;goto=news">flag</a> | <a href="item?id=10769243">19 comments</a>              </td></tr>
      <tr class="spacer" style="height:5px"></tr>
                <tr class='athing'>
      <td align="right" valign="top" class="title"><span class="rank">4.</span></td>      <td valign="top" class="votelinks"><center><a id="up_10769521" onclick="return vote(this)" href="vote?for=10769521&amp;dir=up&amp;auth=4db13b0ad506987667630522e5a26bee8e43edcd&amp;goto=news"><div class="votearrow" title="upvote"></div></a></center></td><td class="title"><span class="deadmark"></span><a href="http://www.economist.com/news/christmas-specials/21683971-seventy-years-after-adolf-hitlers-death-how-germans-see-him-changing-what">Seventy years after Adolf Hitler’s death, how Germans see him is changing</a><span class="sitebit comhead"> (<a href="from?site=economist.com"><span class="sitestr">economist.com</span></a>)</span></td></tr><tr><td colspan="2"></td><td class="subtext">
        <span class="score" id="score_10769521">16 points</span> by <a href="user?id=jimsojim">jimsojim</a> <a href="item?id=10769521">1 hour ago</a>  | <a href="flag?id=10769521&amp;auth=4db13b0ad506987667630522e5a26bee8e43edcd&amp;goto=news">flag</a> | <a href="item?id=10769521">1 comment</a>              </td></tr>
      <tr class="spacer" style="height:5px"></tr>
                <tr class='athing'>
      <td align="right" valign="top" class="title"><span class="rank">5.</span></td>      <td valign="top" class="votelinks"><center><a id="up_10768440" onclick="return vote(this)" href="vote?for=10768440&amp;dir=up&amp;auth=aa023c82f8a14a0d79c7e132d46cd908d8491d5c&amp;goto=news"><div class="votearrow" title="upvote"></div></a></center></td><td class="title"><span class="deadmark"></span><a href="http://goodfeli.github.io/dlbook/">Deep Learning: An MIT Press Book in Preparation</a><span class="sitebit comhead"> (<a href="from?site=goodfeli.github.io"><span class="sitestr">goodfeli.github.io</span></a>)</span></td></tr><tr><td colspan="2"></td><td class="subtext">
        <span class="score" id="score_10768440">128 points</span> by <a href="user?id=ingve">ingve</a> <a href="item?id=10768440">7 hours ago</a>  | <a href="flag?id=10768440&amp;auth=aa023c82f8a14a0d79c7e132d46cd908d8491d5c&amp;goto=news">flag</a> | <a href="item?id=10768440">8 comments</a>              </td></tr>
      <tr class="spacer" style="height:5px"></tr>
                <tr class='athing'>
      <td align="right" valign="top" class="title"><span class="rank">6.</span></td>      <td valign="top" class="votelinks"><center><a id="up_10769525" onclick="return vote(this)" href="vote?for=10769525&amp;dir=up&amp;auth=1299ec9aa64d1212c7dcef9be3c30f5661afdb9e&amp;goto=news"><div class="votearrow" title="upvote"></div></a></center></td><td class="title"><span class="deadmark"></span><a href="http://www.wsj.com/articles/u-s-probes-theranos-complaints-1450663103">U.S. Probes Theranos Complaints</a><span class="sitebit comhead"> (<a href="from?site=wsj.com"><span class="sitestr">wsj.com</span></a>)</span></td></tr><tr><td colspan="2"></td><td class="subtext">
        <span class="score" id="score_10769525">14 points</span> by <a href="user?id=jerryhuang100">jerryhuang100</a> <a href="item?id=10769525">1 hour ago</a>  | <a href="flag?id=10769525&amp;auth=1299ec9aa64d1212c7dcef9be3c30f5661afdb9e&amp;goto=news">flag</a> | <a href="item?id=10769525">1 comment</a>              </td></tr>
      <tr class="spacer" style="height:5px"></tr>
                <tr class='athing'>
      <td align="right" valign="top" class="title"><span class="rank">7.</span></td>      <td valign="top" class="votelinks"><center><a id="up_10768391" onclick="return vote(this)" href="vote?for=10768391&amp;dir=up&amp;auth=9e89c74647672c1c6176d7a6b40b03a886839314&amp;goto=news"><div class="votearrow" title="upvote"></div></a></center></td><td class="title"><span class="deadmark"></span><a href="https://www.quantamagazine.org/20151216-physicists-and-philosophers-debate-the-boundaries-of-science/">Physicists and Philosophers Debate the Boundaries of Science</a><span class="sitebit comhead"> (<a href="from?site=quantamagazine.org"><span class="sitestr">quantamagazine.org</span></a>)</span></td></tr><tr><td colspan="2"></td><td class="subtext">
        <span class="score" id="score_10768391">163 points</span> by <a href="user?id=olasaustralia"><font color="#3c963c">olasaustralia</font></a> <a href="item?id=10768391">7 hours ago</a>  | <a href="flag?id=10768391&amp;auth=9e89c74647672c1c6176d7a6b40b03a886839314&amp;goto=news">flag</a> | <a href="item?id=10768391">107 comments</a>              </td></tr>
      <tr class="spacer" style="height:5px"></tr>
                <tr class='athing'>
      <td align="right" valign="top" class="title"><span class="rank">8.</span></td>      <td valign="top" class="votelinks"><center><a id="up_10768390" onclick="return vote(this)" href="vote?for=10768390&amp;dir=up&amp;auth=4e3a57f0f3b5ea3a2100cf8d9cc8abb1c15161c8&amp;goto=news"><div class="votearrow" title="upvote"></div></a></center></td><td class="title"><span class="deadmark"></span><a href="http://alumni.berkeley.edu/california-magazine/winter-2015-breaking-news/giving-credence-why-so-much-reported-science-wrong-and">Why Is So Much Reported Science Wrong, and What Can Fix That?</a><span class="sitebit comhead"> (<a href="from?site=berkeley.edu"><span class="sitestr">berkeley.edu</span></a>)</span></td></tr><tr><td colspan="2"></td><td class="subtext">
        <span class="score" id="score_10768390">62 points</span> by <a href="user?id=tokenadult">tokenadult</a> <a href="item?id=10768390">7 hours ago</a>  | <a href="flag?id=10768390&amp;auth=4e3a57f0f3b5ea3a2100cf8d9cc8abb1c15161c8&amp;goto=news">flag</a> | <a href="item?id=10768390">29 comments</a>              </td></tr>
      <tr class="spacer" style="height:5px"></tr>
                <tr class='athing'>
      <td align="right" valign="top" class="title"><span class="rank">9.</span></td>      <td valign="top" class="votelinks"><center><a id="up_10768076" onclick="return vote(this)" href="vote?for=10768076&amp;dir=up&amp;auth=b1da25229c8180b58b11577d3ad5bbc06ee691f3&amp;goto=news"><div class="votearrow" title="upvote"></div></a></center></td><td class="title"><span class="deadmark"></span><a href="http://www.colorforth.com/1percent.html">1% the Code (2001)</a><span class="sitebit comhead"> (<a href="from?site=colorforth.com"><span class="sitestr">colorforth.com</span></a>)</span></td></tr><tr><td colspan="2"></td><td class="subtext">
        <span class="score" id="score_10768076">100 points</span> by <a href="user?id=mr_tyzic">mr_tyzic</a> <a href="item?id=10768076">9 hours ago</a>  | <a href="flag?id=10768076&amp;auth=b1da25229c8180b58b11577d3ad5bbc06ee691f3&amp;goto=news">flag</a> | <a href="item?id=10768076">83 comments</a>              </td></tr>
      <tr class="spacer" style="height:5px"></tr>
                <tr class='athing'>
      <td align="right" valign="top" class="title"><span class="rank">10.</span></td>      <td valign="top" class="votelinks"><center><a id="up_10767810" onclick="return vote(this)" href="vote?for=10767810&amp;dir=up&amp;auth=590c2b1d0c4499cb3a6fe3bbfdfad7e90e8ac0df&amp;goto=news"><div class="votearrow" title="upvote"></div></a></center></td><td class="title"><span class="deadmark"></span><a href="http://artint.info/index.html">Artificial Intelligence: Foundations of Computational Agents</a><span class="sitebit comhead"> (<a href="from?site=artint.info"><span class="sitestr">artint.info</span></a>)</span></td></tr><tr><td colspan="2"></td><td class="subtext">
        <span class="score" id="score_10767810">89 points</span> by <a href="user?id=rawfael">rawfael</a> <a href="item?id=10767810">10 hours ago</a>  | <a href="flag?id=10767810&amp;auth=590c2b1d0c4499cb3a6fe3bbfdfad7e90e8ac0df&amp;goto=news">flag</a> | <a href="item?id=10767810">3 comments</a>              </td></tr>
      <tr class="spacer" style="height:5px"></tr>
                <tr class='athing'>
      <td align="right" valign="top" class="title"><span class="rank">11.</span></td>      <td valign="top" class="votelinks"><center><a id="up_10769333" onclick="return vote(this)" href="vote?for=10769333&amp;dir=up&amp;auth=c4721cbff651163fadeb218a399530bc446afea5&amp;goto=news"><div class="votearrow" title="upvote"></div></a></center></td><td class="title"><span class="deadmark"></span><a href="http://www.bloomberg.com/news/articles/2015-12-18/uber-style-flight-sharing-service-shot-down-by-u-s-court">Uber-Style Flight-Sharing Service Shot Down by U.S. Court</a><span class="sitebit comhead"> (<a href="from?site=bloomberg.com"><span class="sitestr">bloomberg.com</span></a>)</span></td></tr><tr><td colspan="2"></td><td class="subtext">
        <span class="score" id="score_10769333">7 points</span> by <a href="user?id=philip1209">philip1209</a> <a href="item?id=10769333">2 hours ago</a>  | <a href="flag?id=10769333&amp;auth=c4721cbff651163fadeb218a399530bc446afea5&amp;goto=news">flag</a> | <a href="item?id=10769333">1 comment</a>              </td></tr>
      <tr class="spacer" style="height:5px"></tr>
                <tr class='athing'>
      <td align="right" valign="top" class="title"><span class="rank">12.</span></td>      <td valign="top" class="votelinks"><center><a id="up_10768199" onclick="return vote(this)" href="vote?for=10768199&amp;dir=up&amp;auth=02af47b88fb7dc0231c8f159443ae875105e47b1&amp;goto=news"><div class="votearrow" title="upvote"></div></a></center></td><td class="title"><span class="deadmark"></span><a href="https://github.com/mahsu/MariOCaml">MariOCaml: HTML5 Mario, written exclusively in OCaml</a><span class="sitebit comhead"> (<a href="from?site=github.com"><span class="sitestr">github.com</span></a>)</span></td></tr><tr><td colspan="2"></td><td class="subtext">
        <span class="score" id="score_10768199">67 points</span> by <a href="user?id=zacharyliu"><font color="#3c963c">zacharyliu</font></a> <a href="item?id=10768199">8 hours ago</a>  | <a href="flag?id=10768199&amp;auth=02af47b88fb7dc0231c8f159443ae875105e47b1&amp;goto=news">flag</a> | <a href="item?id=10768199">28 comments</a>              </td></tr>
      <tr class="spacer" style="height:5px"></tr>
                <tr class='athing'>
      <td align="right" valign="top" class="title"><span class="rank">13.</span></td>      <td valign="top" class="votelinks"><center><a id="up_10768140" onclick="return vote(this)" href="vote?for=10768140&amp;dir=up&amp;auth=ee669949c4c2d45f458b6fd9528dabffe492ead8&amp;goto=news"><div class="votearrow" title="upvote"></div></a></center></td><td class="title"><span class="deadmark"></span><a href="https://git.kernel.org/cgit/linux/kernel/git/torvalds/linux.git/commit/?id=f076ef44a44d02ed91543f820c14c2c7dff53716">Compensate for Rockchip calendar deviation on November 31st</a><span class="sitebit comhead"> (<a href="from?site=kernel.org"><span class="sitestr">kernel.org</span></a>)</span></td></tr><tr><td colspan="2"></td><td class="subtext">
        <span class="score" id="score_10768140">80 points</span> by <a href="user?id=Moral_">Moral_</a> <a href="item?id=10768140">9 hours ago</a>  | <a href="flag?id=10768140&amp;auth=ee669949c4c2d45f458b6fd9528dabffe492ead8&amp;goto=news">flag</a> | <a href="item?id=10768140">29 comments</a>              </td></tr>
      <tr class="spacer" style="height:5px"></tr>
                <tr class='athing'>
      <td align="right" valign="top" class="title"><span class="rank">14.</span></td>      <td valign="top" class="votelinks"><center><a id="up_10768960" onclick="return vote(this)" href="vote?for=10768960&amp;dir=up&amp;auth=3233752e152afe42c5cf75ac10d0c61c2aba9638&amp;goto=news"><div class="votearrow" title="upvote"></div></a></center></td><td class="title"><span class="deadmark"></span><a href="http://www.economist.com/news/briefing/21684138-disney-making-fortune-and-safeguarding-its-future-buying-childhood-piece-piece">Disney is safeguarding its future by buying childhood, piece by piece</a><span class="sitebit comhead"> (<a href="from?site=economist.com"><span class="sitestr">economist.com</span></a>)</span></td></tr><tr><td colspan="2"></td><td class="subtext">
        <span class="score" id="score_10768960">88 points</span> by <a href="user?id=e15ctr0n">e15ctr0n</a> <a href="item?id=10768960">4 hours ago</a>  | <a href="flag?id=10768960&amp;auth=3233752e152afe42c5cf75ac10d0c61c2aba9638&amp;goto=news">flag</a> | <a href="item?id=10768960">81 comments</a>              </td></tr>
      <tr class="spacer" style="height:5px"></tr>
                <tr class='athing'>
      <td align="right" valign="top" class="title"><span class="rank">15.</span></td>      <td valign="top" class="votelinks"><center><a id="up_10767747" onclick="return vote(this)" href="vote?for=10767747&amp;dir=up&amp;auth=6301e09451301ab1ad364f52bb99ccb6fc26b498&amp;goto=news"><div class="votearrow" title="upvote"></div></a></center></td><td class="title"><span class="deadmark"></span><a href="http://www.newyorker.com/tech/elements/the-year-in-fungi-2015">The Year in Fungi</a><span class="sitebit comhead"> (<a href="from?site=newyorker.com"><span class="sitestr">newyorker.com</span></a>)</span></td></tr><tr><td colspan="2"></td><td class="subtext">
        <span class="score" id="score_10767747">75 points</span> by <a href="user?id=MrJagil">MrJagil</a> <a href="item?id=10767747">10 hours ago</a>  | <a href="flag?id=10767747&amp;auth=6301e09451301ab1ad364f52bb99ccb6fc26b498&amp;goto=news">flag</a> | <a href="item?id=10767747">8 comments</a>              </td></tr>
      <tr class="spacer" style="height:5px"></tr>
                <tr class='athing'>
      <td align="right" valign="top" class="title"><span class="rank">16.</span></td>      <td valign="top" class="votelinks"><center><a id="up_10768205" onclick="return vote(this)" href="vote?for=10768205&amp;dir=up&amp;auth=4d89bae5a4a315fbbe4e378aa08554e1aed85dc3&amp;goto=news"><div class="votearrow" title="upvote"></div></a></center></td><td class="title"><span class="deadmark"></span><a href="https://github.com/chrisgillis/slackwolf">Show HN: A Werewolf bot for Slack</a><span class="sitebit comhead"> (<a href="from?site=github.com"><span class="sitestr">github.com</span></a>)</span></td></tr><tr><td colspan="2"></td><td class="subtext">
        <span class="score" id="score_10768205">71 points</span> by <a href="user?id=bass_case"><font color="#3c963c">bass_case</font></a> <a href="item?id=10768205">8 hours ago</a>  | <a href="flag?id=10768205&amp;auth=4d89bae5a4a315fbbe4e378aa08554e1aed85dc3&amp;goto=news">flag</a> | <a href="item?id=10768205">26 comments</a>              </td></tr>
      <tr class="spacer" style="height:5px"></tr>
                <tr class='athing'>
      <td align="right" valign="top" class="title"><span class="rank">17.</span></td>      <td valign="top" class="votelinks"><center><a id="up_10765031" onclick="return vote(this)" href="vote?for=10765031&amp;dir=up&amp;auth=b1aefe5ca6eb2625fc33f4c9d81ef4b2e5ef6d20&amp;goto=news"><div class="votearrow" title="upvote"></div></a></center></td><td class="title"><span class="deadmark"></span><a href="https://munchies.vice.com/articles/how-being-named-the-best-new-restaurant-in-america-hurt-my-business">How Being Named the 'Best New Restaurant in America' Hurt My Business</a><span class="sitebit comhead"> (<a href="from?site=vice.com"><span class="sitestr">vice.com</span></a>)</span></td></tr><tr><td colspan="2"></td><td class="subtext">
        <span class="score" id="score_10765031">144 points</span> by <a href="user?id=prostoalex">prostoalex</a> <a href="item?id=10765031">13 hours ago</a>  | <a href="flag?id=10765031&amp;auth=b1aefe5ca6eb2625fc33f4c9d81ef4b2e5ef6d20&amp;goto=news">flag</a> | <a href="item?id=10765031">105 comments</a>              </td></tr>
      <tr class="spacer" style="height:5px"></tr>
                <tr class='athing'>
      <td align="right" valign="top" class="title"><span class="rank">18.</span></td>      <td valign="top" class="votelinks"><center><a id="up_10764556" onclick="return vote(this)" href="vote?for=10764556&amp;dir=up&amp;auth=611f08c5e722468efaa3c147f89cdc3343d734ca&amp;goto=news"><div class="votearrow" title="upvote"></div></a></center></td><td class="title"><span class="deadmark"></span><a href="http://www.zdnet.com/article/what-we-learned-about-ssds-in-2015/">What we learned about SSDs in 2015</a><span class="sitebit comhead"> (<a href="from?site=zdnet.com"><span class="sitestr">zdnet.com</span></a>)</span></td></tr><tr><td colspan="2"></td><td class="subtext">
        <span class="score" id="score_10764556">144 points</span> by <a href="user?id=NN88">NN88</a> <a href="item?id=10764556">15 hours ago</a>  | <a href="flag?id=10764556&amp;auth=611f08c5e722468efaa3c147f89cdc3343d734ca&amp;goto=news">flag</a> | <a href="item?id=10764556">85 comments</a>              </td></tr>
      <tr class="spacer" style="height:5px"></tr>
                <tr class='athing'>
      <td align="right" valign="top" class="title"><span class="rank">19.</span></td>      <td valign="top" class="votelinks"><center><a id="up_10767039" onclick="return vote(this)" href="vote?for=10767039&amp;dir=up&amp;auth=1c38715caaa041acc488ac21529d45ad828e434f&amp;goto=news"><div class="votearrow" title="upvote"></div></a></center></td><td class="title"><span class="deadmark"></span><a href="http://github.com/ErikvdVen/php-gif">Real-time GIF images</a><span class="sitebit comhead"> (<a href="from?site=github.com"><span class="sitestr">github.com</span></a>)</span></td></tr><tr><td colspan="2"></td><td class="subtext">
        <span class="score" id="score_10767039">191 points</span> by <a href="user?id=erikvdven">erikvdven</a> <a href="item?id=10767039">15 hours ago</a>  | <a href="flag?id=10767039&amp;auth=1c38715caaa041acc488ac21529d45ad828e434f&amp;goto=news">flag</a> | <a href="item?id=10767039">57 comments</a>              </td></tr>
      <tr class="spacer" style="height:5px"></tr>
                <tr class='athing'>
      <td align="right" valign="top" class="title"><span class="rank">20.</span></td>      <td valign="top" class="votelinks"><center><a id="up_10766731" onclick="return vote(this)" href="vote?for=10766731&amp;dir=up&amp;auth=7faab787346e75cd3cdb7c7be8ca1c2cf5608067&amp;goto=news"><div class="votearrow" title="upvote"></div></a></center></td><td class="title"><span class="deadmark"></span><a href="http://themacro.com/articles/2015/12/yc-2015-reading-list/">YC's 2015 Reading List</a><span class="sitebit comhead"> (<a href="from?site=themacro.com"><span class="sitestr">themacro.com</span></a>)</span></td></tr><tr><td colspan="2"></td><td class="subtext">
        <span class="score" id="score_10766731">193 points</span> by <a href="user?id=0x54MUR41">0x54MUR41</a> <a href="item?id=10766731">18 hours ago</a>  | <a href="flag?id=10766731&amp;auth=7faab787346e75cd3cdb7c7be8ca1c2cf5608067&amp;goto=news">flag</a> | <a href="item?id=10766731">65 comments</a>              </td></tr>
      <tr class="spacer" style="height:5px"></tr>
                <tr class='athing'>
      <td align="right" valign="top" class="title"><span class="rank">21.</span></td>      <td valign="top" class="votelinks"><center><a id="up_10768829" onclick="return vote(this)" href="vote?for=10768829&amp;dir=up&amp;auth=0718755deeb1c17eb80430a15cfaf9683479778f&amp;goto=news"><div class="votearrow" title="upvote"></div></a></center></td><td class="title"><span class="deadmark"></span><a href="http://typed.pw/a/26">Why ads are a problem</a><span class="sitebit comhead"> (<a href="from?site=typed.pw"><span class="sitestr">typed.pw</span></a>)</span></td></tr><tr><td colspan="2"></td><td class="subtext">
        <span class="score" id="score_10768829">24 points</span> by <a href="user?id=nononoxd">nononoxd</a> <a href="item?id=10768829">5 hours ago</a>  | <a href="flag?id=10768829&amp;auth=0718755deeb1c17eb80430a15cfaf9683479778f&amp;goto=news">flag</a> | <a href="item?id=10768829">21 comments</a>              </td></tr>
      <tr class="spacer" style="height:5px"></tr>
                <tr class='athing'>
      <td align="right" valign="top" class="title"><span class="rank">22.</span></td>      <td valign="top" class="votelinks"><center><a id="up_10765148" onclick="return vote(this)" href="vote?for=10765148&amp;dir=up&amp;auth=b23433c6759eecf9be5c785d920b8780f4abfb50&amp;goto=news"><div class="votearrow" title="upvote"></div></a></center></td><td class="title"><span class="deadmark"></span><a href="https://codewords.recurse.com/issues/five/what-restful-actually-means">What RESTful actually means</a><span class="sitebit comhead"> (<a href="from?site=recurse.com"><span class="sitestr">recurse.com</span></a>)</span></td></tr><tr><td colspan="2"></td><td class="subtext">
        <span class="score" id="score_10765148">177 points</span> by <a href="user?id=luu">luu</a> <a href="item?id=10765148">16 hours ago</a>  | <a href="flag?id=10765148&amp;auth=b23433c6759eecf9be5c785d920b8780f4abfb50&amp;goto=news">flag</a> | <a href="item?id=10765148">114 comments</a>              </td></tr>
      <tr class="spacer" style="height:5px"></tr>
                <tr class='athing'>
      <td align="right" valign="top" class="title"><span class="rank">23.</span></td>      <td valign="top" class="votelinks"><center><a id="up_10768289" onclick="return vote(this)" href="vote?for=10768289&amp;dir=up&amp;auth=fbbe408aaa6da5e26215892dbeddbe60710112ad&amp;goto=news"><div class="votearrow" title="upvote"></div></a></center></td><td class="title"><span class="deadmark"></span><a href="http://m.economictimes.com/news/politics-and-nation/good-governance-cbse-books-to-be-made-available-online-for-free-says-smriti-irani/articleshow/50245429.cms">India to make CBSE textbooks available online for free</a><span class="sitebit comhead"> (<a href="from?site=economictimes.com"><span class="sitestr">economictimes.com</span></a>)</span></td></tr><tr><td colspan="2"></td><td class="subtext">
        <span class="score" id="score_10768289">159 points</span> by <a href="user?id=3dfan">3dfan</a> <a href="item?id=10768289">8 hours ago</a>  | <a href="flag?id=10768289&amp;auth=fbbe408aaa6da5e26215892dbeddbe60710112ad&amp;goto=news">flag</a> | <a href="item?id=10768289">15 comments</a>              </td></tr>
      <tr class="spacer" style="height:5px"></tr>
                <tr class='athing'>
      <td align="right" valign="top" class="title"><span class="rank">24.</span></td>      <td valign="top" class="votelinks"><center><a id="up_10765906" onclick="return vote(this)" href="vote?for=10765906&amp;dir=up&amp;auth=7bef5bf00ca24abe529d928d56f33db68f8cd900&amp;goto=news"><div class="votearrow" title="upvote"></div></a></center></td><td class="title"><span class="deadmark"></span><a href="http://www.technologyreview.com/view/544766/how-to-3-d-print-a-hydraulic-powered-robot/">A 3-D printer capable of incorporating hydraulics</a><span class="sitebit comhead"> (<a href="from?site=technologyreview.com"><span class="sitestr">technologyreview.com</span></a>)</span></td></tr><tr><td colspan="2"></td><td class="subtext">
        <span class="score" id="score_10765906">75 points</span> by <a href="user?id=ph0rque">ph0rque</a> <a href="item?id=10765906">14 hours ago</a>  | <a href="flag?id=10765906&amp;auth=7bef5bf00ca24abe529d928d56f33db68f8cd900&amp;goto=news">flag</a> | <a href="item?id=10765906">4 comments</a>              </td></tr>
      <tr class="spacer" style="height:5px"></tr>
                <tr class='athing'>
      <td align="right" valign="top" class="title"><span class="rank">25.</span></td>      <td valign="top" class="votelinks"><center><a id="up_10767973" onclick="return vote(this)" href="vote?for=10767973&amp;dir=up&amp;auth=03ce16775277fd0e234a2fa253ac1bbe9cd4b945&amp;goto=news"><div class="votearrow" title="upvote"></div></a></center></td><td class="title"><span class="deadmark"></span><a href="http://leancrew.com/all-this/2015/12/homemade-rss-aggregator-followup/">Homemade RSS aggregator followup</a><span class="sitebit comhead"> (<a href="from?site=leancrew.com"><span class="sitestr">leancrew.com</span></a>)</span></td></tr><tr><td colspan="2"></td><td class="subtext">
        <span class="score" id="score_10767973">50 points</span> by <a href="user?id=ingve">ingve</a> <a href="item?id=10767973">9 hours ago</a>  | <a href="flag?id=10767973&amp;auth=03ce16775277fd0e234a2fa253ac1bbe9cd4b945&amp;goto=news">flag</a> | <a href="item?id=10767973">29 comments</a>              </td></tr>
      <tr class="spacer" style="height:5px"></tr>
                <tr class='athing'>
      <td align="right" valign="top" class="title"><span class="rank">26.</span></td>      <td valign="top" class="votelinks"><center><a id="up_10769296" onclick="return vote(this)" href="vote?for=10769296&amp;dir=up&amp;auth=5d47c14b87cac3c912e8966a6a1237e94cebffdd&amp;goto=news"><div class="votearrow" title="upvote"></div></a></center></td><td class="title"><span class="deadmark"></span><a href="http://typed.pw/" rel="nofollow">Typed.pw: anonymous online content</a><span class="sitebit comhead"> (<a href="from?site=typed.pw"><span class="sitestr">typed.pw</span></a>)</span></td></tr><tr><td colspan="2"></td><td class="subtext">
        <span class="score" id="score_10769296">5 points</span> by <a href="user?id=n-s-f">n-s-f</a> <a href="item?id=10769296">2 hours ago</a>  | <a href="flag?id=10769296&amp;auth=5d47c14b87cac3c912e8966a6a1237e94cebffdd&amp;goto=news">flag</a> | <a href="item?id=10769296">discuss</a>              </td></tr>
      <tr class="spacer" style="height:5px"></tr>
                <tr class='athing'>
      <td align="right" valign="top" class="title"><span class="rank">27.</span></td>      <td valign="top" class="votelinks"><center><a id="up_10769214" onclick="return vote(this)" href="vote?for=10769214&amp;dir=up&amp;auth=008426e5fe99dba8d1ac9909dd69a78c1aed3bf6&amp;goto=news"><div class="votearrow" title="upvote"></div></a></center></td><td class="title"><span class="deadmark"></span><a href="http://www.cbsnews.com/videos/inside-apple-part-one/">Inside Apple, part one</a><span class="sitebit comhead"> (<a href="from?site=cbsnews.com"><span class="sitestr">cbsnews.com</span></a>)</span></td></tr><tr><td colspan="2"></td><td class="subtext">
        <span class="score" id="score_10769214">28 points</span> by <a href="user?id=davidbarker">davidbarker</a> <a href="item?id=10769214">3 hours ago</a>  | <a href="flag?id=10769214&amp;auth=008426e5fe99dba8d1ac9909dd69a78c1aed3bf6&amp;goto=news">flag</a> | <a href="item?id=10769214">5 comments</a>              </td></tr>
      <tr class="spacer" style="height:5px"></tr>
                <tr class='athing'>
      <td align="right" valign="top" class="title"><span class="rank">28.</span></td>      <td valign="top" class="votelinks"><center><a id="up_10765634" onclick="return vote(this)" href="vote?for=10765634&amp;dir=up&amp;auth=8b045f569ca93bae096c4d596192cd41abd8ea85&amp;goto=news"><div class="votearrow" title="upvote"></div></a></center></td><td class="title"><span class="deadmark"></span><a href="http://heydave.org/post/24286720323/gtd-sucks-for-creative-work-heres-an-alternative">GTD sucks for creative work. Here’s an alternative system</a><span class="sitebit comhead"> (<a href="from?site=heydave.org"><span class="sitestr">heydave.org</span></a>)</span></td></tr><tr><td colspan="2"></td><td class="subtext">
        <span class="score" id="score_10765634">140 points</span> by <a href="user?id=pmoriarty">pmoriarty</a> <a href="item?id=10765634">19 hours ago</a>  | <a href="flag?id=10765634&amp;auth=8b045f569ca93bae096c4d596192cd41abd8ea85&amp;goto=news">flag</a> | <a href="item?id=10765634">65 comments</a>              </td></tr>
      <tr class="spacer" style="height:5px"></tr>
                <tr class='athing'>
      <td align="right" valign="top" class="title"><span class="rank">29.</span></td>      <td valign="top" class="votelinks"><center><a id="up_10765167" onclick="return vote(this)" href="vote?for=10765167&amp;dir=up&amp;auth=3108e496f6a3acdc163717ffad4c0df095654437&amp;goto=news"><div class="votearrow" title="upvote"></div></a></center></td><td class="title"><span class="deadmark"></span><a href="http://theneurosphere.com/2015/12/17/the-mystery-of-tetrachromacy-if-12-of-women-have-four-cone-types-in-their-eyes-why-do-so-few-of-them-actually-see-more-colours/">The Mystery of Tetrachromacy</a><span class="sitebit comhead"> (<a href="from?site=theneurosphere.com"><span class="sitestr">theneurosphere.com</span></a>)</span></td></tr><tr><td colspan="2"></td><td class="subtext">
        <span class="score" id="score_10765167">78 points</span> by <a href="user?id=Amorymeltzer">Amorymeltzer</a> <a href="item?id=10765167">15 hours ago</a>  | <a href="flag?id=10765167&amp;auth=3108e496f6a3acdc163717ffad4c0df095654437&amp;goto=news">flag</a> | <a href="item?id=10765167">27 comments</a>              </td></tr>
      <tr class="spacer" style="height:5px"></tr>
                <tr class='athing'>
      <td align="right" valign="top" class="title"><span class="rank">30.</span></td>      <td valign="top" class="votelinks"><center><a id="up_10766672" onclick="return vote(this)" href="vote?for=10766672&amp;dir=up&amp;auth=c5a5c9febab9420cddd6db13127b149a0990d2c6&amp;goto=news"><div class="votearrow" title="upvote"></div></a></center></td><td class="title"><span class="deadmark"></span><a href="http://www.nytimes.com/2015/12/13/realestate/soundproofing-for-new-york-noise.html">Soundproofing for New York Noise</a><span class="sitebit comhead"> (<a href="from?site=nytimes.com"><span class="sitestr">nytimes.com</span></a>)</span></td></tr><tr><td colspan="2"></td><td class="subtext">
        <span class="score" id="score_10766672">118 points</span> by <a href="user?id=miiiiiike">miiiiiike</a> <a href="item?id=10766672">18 hours ago</a>  | <a href="flag?id=10766672&amp;auth=c5a5c9febab9420cddd6db13127b149a0990d2c6&amp;goto=news">flag</a> | <a href="item?id=10766672">129 comments</a>              </td></tr>
      <tr class="spacer" style="height:5px"></tr>
            <tr class="morespace" style="height:10px"></tr><tr><td colspan="2"></td><td class="title"><a href="news?p=2" rel="nofollow">More</a></td></tr>
  </table></td></tr>
<tr><td><img src="s.gif" height="10" width="0"><table width="100%" cellspacing="0" cellpadding="1"><tr><td bgcolor="#ff6600"></td></tr></table><br><center><span class="yclinks"><a href="newsguidelines.html">Guidelines</a>
        | <a href="newsfaq.html">FAQ</a>
        | <a href="mailto:hn@ycombinator.com">Support</a>
        | <a href="https://github.com/HackerNews/API">API</a>
        | <a href="security.html">Security</a>
        | <a href="lists">Lists</a>
        | <a href="bookmarklet.html">Bookmarklet</a>
        | <a href="dmca.html">DMCA</a>
        | <a href="http://www.ycombinator.com/apply/">Apply to YC</a>
        | <a href="mailto:hn@ycombinator.com">Contact</a></span><br><br><form method="get" action="//hn.algolia.com/">Search:
          <input type="text" name="q" value="" size="17"></form>
            </center></td></tr>      </table></center></body></html>
