<?xml version="1.0" encoding="iso-8859-1"?>
<rss version="2.0">
  <channel>
    <title>manybooks.net</title>
    <link>http://manybooks.net/</link>
    <description>New additions to the manybooks.net library. Thousands of free books, pre-formatted for reading on your PDA - eReader, PDF, Plucker, iSilo, Doc, or zTXT eBooks for your Palm, Pocket PC, Zaurus or Rocketbook!</description>
    <language>en-us</language>
    <webMaster>webmaster@manybooks.net</webMaster>
    <lastBuildDate>Thu, 09 Jul 15 02:37:08 -0600</lastBuildDate>

 <item>
	<title><![CDATA[Prophecy's Queen]]></title>
	<link>http://manybooks.net/titles/bondtother15prophecysqueen.html</link>
	<description><![CDATA[<p>An Epic Fantasy: Prequel to The Triadine Saga </p><p>Author: Timothy Bond </p>
	            <p>Language: English </p><p>Published: 2015 </p><p>"Readers compare him to David Eddings and Brandon Sanderson."</p>

<p>In this prequel to the epic fantasy series The Triadine Saga, we follow the Elven Princess Rozlynn as she struggles with her role in The Prophecy and what she must do to keep the world from falling into darkness. </p>

<p>This is a story of love and conflict, personal growth, and freedom to choose your own destiny. The world of Elves, Dwarves, and humans, is inexorably tied to magic, wizards, and dragons, as the battle of good versus evil, light versus darkness, wages on. </p>

<p>Will Rozlynn make the sacrifices and the choices necessary to ensure that The Prophecy stays on the right path? Will her sister, the Elven Queen, prevent her from making her own choice? Will Rozlynn's love for an Elven Hunter betray her and lead her astray? </p>

<p>Join us and find out this and much more, in Prophecy's Queen.</p> </p>]]></description>
	<pubDate><![CDATA[Thu, 09 Jul 15 02:37:08 -0600]]></pubDate>
	<category><![CDATA[Fantasy]]></category>
	<guid>http://manybooks.net/titles/bondtother15prophecysqueen.html</guid>
	</item>
	<item>
	<title><![CDATA[The Eden Plague]]></title>
	<link>http://manybooks.net/titles/vandykeother15theedenplague.html</link>
	<description><![CDATA[<p>Plague Wars Series Book 0 </p><p>Author: David VanDyke </p>
	            <p>Language: English </p><p>Published: 2014 </p><p>Spend time inside a good book today! A Kindle Book Review 2013 Best Indie Award Winner semi-finalist.</p>

<p>When veteran combat lifesaver Daniel Markis finds a mystery woman with armed invaders in his home and it all goes sideways, he turns to his brothers in arms to fight back. On the run from the shadowy Company,  he soon finds himself in a war for possession of a genetic engineering puzzle that threatens the stability of the world. But who is behind it all - and are they even human?</p>

<p>The Eden Plague is a free futuristic thriller that will grip the imagination of readers who relish high-energy adventure. No zombies were harmed in the making of this book. In fact, no zombies appear anywhere in this book. Seriously. It's not a zombie book.</p>

<p>The Plague Wars apocalyptic thriller series begins in the world of today with a man and a woman twined together by circumstances, destined to change the world. It leads readers into an ever-darkening future of upheaval, struggle and war marked by the depths of evil and the heights of selfless sacrifice. Plagues, new technologies and extraterrestrial meddling provide the backdrop for heroes and villains to struggle for control of the destiny of humanity.</p> </p>]]></description>
	<pubDate><![CDATA[Thu, 09 Jul 15 02:37:08 -0600]]></pubDate>
	<category><![CDATA[Science Fiction]]></category>
	<guid>http://manybooks.net/titles/vandykeother15theedenplague.html</guid>
	</item>
	<item>
	<title><![CDATA[The Lost Continent]]></title>
	<link>http://manybooks.net/titles/constantinepercivalother15thelostcontinent.html</link>
	<description><![CDATA[<p>The Myth Hunter Book 1 </p><p>Author: Percival Constantine </p>
	            <p>Language: English </p><p>Published: 2013 </p><p>Elisa Hill is a myth hunter, an adventurer who seeks out the truth behind the legends of the past, and it’s a job she was born into. Her parents were myth hunters as well and the one legend they could never prove was the myth of the lost continent of Lemuria. Now Elisa has the opportunity to finish the work her parents began. But the secrets of this lost civilization hold great value for a sinister secret society and a ruthless assassin, and both will stop at nothing—not even murder—to gain their prize. Elisa must rely on friends and unlikely allies in order to make it to the lost continent. Because if she fails, those same secrets could spell doom for mankind! </p>]]></description>
	<pubDate><![CDATA[Thu, 09 Jul 15 02:37:08 -0600]]></pubDate>
	<category><![CDATA[Adventure]]></category>
	<guid>http://manybooks.net/titles/constantinepercivalother15thelostcontinent.html</guid>
	</item>
	<item>
	<title><![CDATA[The Piano Girl]]></title>
	<link>http://manybooks.net/titles/murrayssother15thepianogirl.html</link>
	<description><![CDATA[<p>Part One of the Counterfeit Princess Series </p><p>Author: Sherri Schoenborn Murray </p>
	            <p>Language: English </p><p>Published: 2015 </p><p>She plays from memory. Her memories.</br>

<br>The day after her sixteenth birthday, Princess Alia finds out that she's been given away in marriage to a man she’s never met. The war has just ended, and for Alia’s protection, she must travel to her future kingdom disguised as a chicken farmer's daughter. This princess to pauper story is filled with problems, prayers and plenty of piano. This is Part One of a two-part series. In 2016, the Counterfeit Princess series will continue with Alia's sister, Wren.</br> </p>]]></description>
	<pubDate><![CDATA[Thu, 09 Jul 15 02:37:08 -0600]]></pubDate>
	<category><![CDATA[Fiction and Literature]]></category>
	<guid>http://manybooks.net/titles/murrayssother15thepianogirl.html</guid>
	</item>
	<item>
	<title><![CDATA[Nano Contestant]]></title>
	<link>http://manybooks.net/titles/sterlinglother15nanocontestant.html</link>
	<description><![CDATA[<p>Episode 1: Whatever It Takes </p><p>Author: Leif Sterling </p>
	            <p>Language: English </p><p>Published: 2014 </p><p>Fans of the Hunger Games and Sci-Fi Thrillers will love the new Nano Contestant Series!</br>

<br>NANO CONTESTANT SERIES: Episode 1 of 12 Serialized Episodes</br>

<br>In 2114, Pinnacle Corporation, the world’s largest tech company, hosts the Tech Games to showcase the world’s latest technology. The contestants must battle it out in 11 brutal games to ultimately win a $100 million prize!</br>

<br>These digital and hybrid athletes must use everything at their disposal in order to take that prize and all of its glory in the Tech Games.</br>

<br>Hacking, firewalls and electronic countermeasures are all being used by each contestant while running and fighting at top speed. It’s all on the line, because nothing is being left on the table!</br>

</br>EPISODE 1 - Whatever It Takes</br>

<br>How far would you go to save your family?</br>

<br>Roland has vowed to save his father’s life and get him set free - no matter what it takes. Entering the brutal Tech Games as a contestant gives Roland the perfect cover to get close to the Pinnacle Corporation and try to uncover evidence that would free his father. </br>

<br>But first, he must qualify by demonstrating a new, state of the art technology - implanted in his own body. With the Tech Games deadline closing fast, he must risk his own life with untested nanotech, or he will lose his chance to save his father’s life forever.</br> </p>]]></description>
	<pubDate><![CDATA[Thu, 09 Jul 15 02:37:08 -0600]]></pubDate>
	<category><![CDATA[Science Fiction]]></category>
	<guid>http://manybooks.net/titles/sterlinglother15nanocontestant.html</guid>
	</item>
	<item>
	<title><![CDATA[Fire Sign]]></title>
	<link>http://manybooks.net/titles/pettersonmaother15firesign.html</link>
	<description><![CDATA[<p>Featuring Dr. Anja Toussaint </p><p>Author: M.A. Petterson </p>
	            <p>Language: English </p><p>Published: 2014 </p><p>A beautiful forensic engineer hiding a tragic past reluctantly teams up with a troubled cop to stop a serial arsonist targeting churches.</br>

<br>Dr. Anja Toussaint believes that her own dreadful youth foretells who the arsonist is and the shocking motive behind the fires. But Detective Gil Dolan stubbornly sets his sights on a white supremacist previously convicted of arson and just released from prison.</br>

<br>Unfortunately, when Anja blocks his efforts the arrogant cop sets his own plan into motion that leads them both into a fiery trap.</br> </p>]]></description>
	<pubDate><![CDATA[Thu, 09 Jul 15 02:37:08 -0600]]></pubDate>
	<category><![CDATA[Mystery/Detective]]></category>
	<guid>http://manybooks.net/titles/pettersonmaother15firesign.html</guid>
	</item>
	<item>
	<title><![CDATA[Take the Monkeys and Run]]></title>
	<link>http://manybooks.net/titles/cantwellkother15takethemonkeysandrun.html</link>
	<description><![CDATA[<p>A Barbara Marr Murder Mystery, Book 1 </p><p>Author: Karen Cantwell </p>
	            <p>Language: English </p><p>Published: 2010 </p><p>Book 1 in the bestselling Barbara Marr Murder Mystery Series</br>

<br>Film lover Barbara Marr is a typical suburban mom living the typical suburban life in her sleepy little town of Rustic Woods, Virginia. Typical, that is until she sets out to find the missing link between a bizarre monkey sighting in her yard and the bone chilling middle-of-the-night fright fest at the strangely vacant house next door. When Barb talks her two friends into some seemingly innocent Charlie’s Angels-like sleuthing, they stumble upon way more than they bargained for and uncover a piece of neighborhood history that certain people would kill to keep on the cutting room floor. </br>

<br>“This fun if light novel’s quippy, hilarious narrator, Barbara Marr, has so much warmth and genuine gumption, you’d certainly want her on your criminal investigative team.” – Publishers Weekly </br>

<br>Semi-Finalist, 2009 Amazon Breakthrough Novel Award Contest 
"Barbara Marr is...perhaps the most hilarious amateur sleuth in literature....Cantwell handles her characters with flair and pizazz...blending page-turning action with those little tender moments that get you right in the gut..." </br> </p>]]></description>
	<pubDate><![CDATA[Thu, 09 Jul 15 02:37:08 -0600]]></pubDate>
	<category><![CDATA[Mystery/Detective]]></category>
	<guid>http://manybooks.net/titles/cantwellkother15takethemonkeysandrun.html</guid>
	</item>
	<item>
	<title><![CDATA[Jenny Pox]]></title>
	<link>http://manybooks.net/titles/bryanjlother15jennypox.html</link>
	<description><![CDATA[<p>The Paranormals, Book 1 </p><p>Author: J.L. Bryan </p>
	            <p>Language: English </p><p>Published: 2010 </p><p>Eighteen-year-old Jenny Morton has a horrific secret: her touch spreads a deadly supernatural plague. She lives by a single rule: Never touch anyone. A lifetime of avoiding any physical contact with others has made her isolated and painfully lonely in her small rural town, a community where a supernatural darkness seethes beneath the surface.</br>

<br>Then Jenny meets the one boy she can touch, and her life begins to change...but first Jenny must learn to use the deadly pox inside her to confront her lifelong enemy, a girl who secretly wields the most dangerous power of all.</br>

<br>Not recommended for readers under eighteen.</br>

<br>***</br>

<br>Winner of a Red Adept Indie Award: #1 in Horror for 2010.</br>

<br>Selected by Geeks of Doom for Top 10 Urban Fantasy and Horror Books of 2010.</br>

<br>Chosen by the Bewitched Bookworms as one of the top books of 2010.</br> </p>]]></description>
	<pubDate><![CDATA[Thu, 09 Jul 15 02:37:08 -0600]]></pubDate>
	<category><![CDATA[Horror]]></category>
	<guid>http://manybooks.net/titles/bryanjlother15jennypox.html</guid>
	</item>
	<item>
	<title><![CDATA[Zero]]></title>
	<link>http://manybooks.net/titles/moonaother15zero.html</link>
	<description><![CDATA[<p>Mech. Chronicles Book 1 </p><p>Author: Adam Moon </p>
	            <p>Language: English </p><p>Published: 2014 </p><p>The year is 2229 and Jack Peterson has terminal cancer. He's a dead man walking until his doctor gives him a way out. If he's willing to give up his entire life, he can travel for eight hundred years in stasis to planet Epigog 31 to receive treatment. With no other options available, he agrees.</br>

<br>Once there, he discovers that aliens exist and they are allies with humanity. But there's a catch to receiving treatment: while his body heals, he must act as muscle for the aliens.</br>

<br>His conscious mind is uploaded into a mechanical battle unit and he is sent to train for warfare.</br>

<br>He will travel the galaxy, meet numerous aliens, and make friends along the way. But everything is not as it seems, and Jack's mech is far more unique than he realizes.</br> </p>]]></description>
	<pubDate><![CDATA[Thu, 09 Jul 15 02:37:08 -0600]]></pubDate>
	<category><![CDATA[Science Fiction]]></category>
	<guid>http://manybooks.net/titles/moonaother15zero.html</guid>
	</item>
	<item>
	<title><![CDATA[Tribe: The Red Hand]]></title>
	<link>http://manybooks.net/titles/rosskother15tribetheredhand.html</link>
	<description><![CDATA[<p>Tribe Series Book 1 </p><p>Author: Kaelyn Ross </p>
	            <p>Language: English </p><p>Published: 2015 </p><p>Long ago, the Red Fever transformed a world full of light and life into a primeval wasteland littered with relics and decaying cities. In time, the scattered remains of humanity gathered into small, warring tribes.</br>

<br>For sixteen-year-old Kestrel Stoneheart, the ghosts of yesterday have little bearing on the future she has worked for her entire life: to join the elite warriors of her tribe and protect her people against all enemies.</br> 

<br>But before she can stand beneath the Bone Tree and become a Red Hand, she must first survive the rite of the Kill.</br>

<br>What Kestrel doesn’t know is that the greatest danger lies hidden within her own tribe, a menace that threatens not only her life but the very existence of her people.</br>

<br>Tribe: The Red Hand, is a 35,000 word young adult dystopian story. It is part one of a serialized work, in which each installment moves Kestrel a little farther along an adventurous road of discovery about herself and her world. I can’t wait for you to join the journey!</br>  </p>]]></description>
	<pubDate><![CDATA[Thu, 09 Jul 15 02:37:08 -0600]]></pubDate>
	<category><![CDATA[Fantasy]]></category>
	<guid>http://manybooks.net/titles/rosskother15tribetheredhand.html</guid>
	</item>
	<item>
	<title><![CDATA[Prince Charming Must Die!]]></title>
	<link>http://manybooks.net/titles/fontaineiother15princecharmingmustdie.html</link>
	<description><![CDATA[<p>The Grimm Chronicles Book 1 </p><p>Author: Isabella Fontaine </p>
	            <p>Language: English </p><p>Published: 2015 </p><p>Book 1 of the award-winning Young Adult adventure!</br> 

<br>On the eve of her 18th birthday, high school junior Alice Goodenough feels on top of the world. Classes are almost finished. She’s about to start her summer job at the local library, where she’ll be surrounded by all of her favorite books. And she has a wonderful boyfriend.</br>

<br>Then the rabbit shows up. The giant talking rabbit. He has a message: 
200 years ago, the Brothers Grimm unleashed their stories upon the world. 
Literally.</br>

<br>With the help of a magic pen and paper, Jacob and Wilhelm Grimm brought all of their fairy tale characters to life. The world was a more magical place … for a time. Cinderella found her prince. Briar Rose's spell was broken. The dancing princesses spent their nights hidden away in a secret underground city. The old miller's boy found true love.</br>

<br>Then, slowly, the Grimms’ characters began to change for the worse. They became Corrupted. Evil. They didn’t belong in our world, but it was too late for the Brothers Grimm to destroy them.</br>

<br>Only a hero can save the day. Every generation for the past 200 years, a hero has been chosen to fight the Corrupted and rid the world of the Grimms’ fairy tales. To her horror, Alice has been chosen as the next hero. As her 18th birthday nears, she begins to realize life is never going back to normal. School will never be the same.</br>

<br>As for her boyfriend, Edward … well, he might be hiding a terrible secret.</br>

<br>This book also contains the following original Brothers Grimm fairy tales: 
- Snow White 
- The White Snake 
- The Poor Miller’s Boy and the Cat 
- The Godfather</br>

<br>The Grimm Chronicles is intended for Young Adults aged 13 and up. Like Katniss from The Hunger Games or Buffy the Vampire Slayer, Alice must use more than her fists if she wants to survive!</br> </p>]]></description>
	<pubDate><![CDATA[Thu, 09 Jul 15 02:37:08 -0600]]></pubDate>
	<category><![CDATA[Fantasy]]></category>
	<guid>http://manybooks.net/titles/fontaineiother15princecharmingmustdie.html</guid>
	</item>
	<item>
	<title><![CDATA[Darkangel]]></title>
	<link>http://manybooks.net/titles/popecother15darkangel.html</link>
	<description><![CDATA[<img src="http://manybooks.net/original_covers/p/popec/popecother15darkangel-thumb.jpg" hspace="10" border="0" alt="Cover image for Darkangel" align="left" /><p>The Witches of Cleopatra Hill Book 1 </p><p>Author: Christine Pope </p>
	            <p>Language: English </p><p>Published: 2014 </p><p>Finding the man of your dreams can be a real nightmare….</br>

<br>As the future prima, or head witch of her clan, Angela McAllister is expected to bond with her consort during her twenty-first year, thus ensuring that she will come into her full powers at the appointed time. The clock is ticking down, and her consort has yet to make an appearance. Instead, her dreams are haunted by a man she’s never seen, the one she believes must be her intended match.</br>

<br>But with time running out, and dark forces attempting to seize her powers for their own, Angela is faced with a terrible choice: give up her dreams of the man she may never meet and take the safer path, or risk leaving her clan and everyone in it at the mercy of those who seek their ruin.</br>

<br>Darkangel is the first book in the Witches of Cleopatra Hill, a paranormal romance trilogy set in the haunted town of Jerome, Arizona.</br> </p>]]></description>
	<pubDate><![CDATA[Thu, 09 Jul 15 02:37:08 -0600]]></pubDate>
	<category><![CDATA[Romance]]></category>
	<guid>http://manybooks.net/titles/popecother15darkangel.html</guid>
	</item>
	<item>
	<title><![CDATA[The Splendid Fairing]]></title>
	<link>http://manybooks.net/titles/holmec4054540545.html</link>
	<description><![CDATA[<p>Author: Constance Holme </p>
	            <p>Language: English </p><p>Published: 1919 </p>]]></description>
	<pubDate><![CDATA[Thu, 09 Jul 15 02:37:08 -0600]]></pubDate>
	<category><![CDATA[Fiction and Literature]]></category>
	<guid>http://manybooks.net/titles/holmec4054540545.html</guid>
	</item>
	<item>
	<title><![CDATA[A Fortune Hunter; Or, The Old Stone Corral]]></title>
	<link>http://manybooks.net/titles/carteretjd4054640546.html</link>
	<description><![CDATA[<p>A Tale of the Santa Fe Trail </p><p>Author: John Dunloe Carteret </p>
	            <p>Language: English </p><p>Published: 1886 </p>]]></description>
	<pubDate><![CDATA[Thu, 09 Jul 15 02:37:08 -0600]]></pubDate>
	<category><![CDATA[Fiction and Literature]]></category>
	<guid>http://manybooks.net/titles/carteretjd4054640546.html</guid>
	</item>
	<item>
	<title><![CDATA[State of Grace]]></title>
	<link>http://manybooks.net/titles/davieselizabethother15stateofgrace.html</link>
	<description><![CDATA[<img src="http://manybooks.net/original_covers/d/davieselizabeth/davieselizabethother15stateofgrace-thumb.jpg" hspace="10" border="0" alt="Cover image for State of Grace" align="left" /><p>Resurrection Book 1 </p><p>Author: Elizabeth Davies </p>
	            <p>Language: English </p><p>Published: 2012 </p><p>Grace has a terminal brain tumour and will die in the next few months. Roman has an addiction to blood, and could possibly live forever.</br>

<br>Grace is twenty-seven years old. When they meet in the twelfth century Roman is several hundred years old.</br>

<br>And Grace has another problem - she's from his future and neither of them believe it.</br>

<br>This is the first novel in the Resurrection trilogy.</br> </p>]]></description>
	<pubDate><![CDATA[Thu, 09 Jul 15 02:37:08 -0600]]></pubDate>
	<category><![CDATA[Romance]]></category>
	<guid>http://manybooks.net/titles/davieselizabethother15stateofgrace.html</guid>
	</item>
	<item>
	<title><![CDATA[The Gauguin Connection]]></title>
	<link>http://manybooks.net/titles/ryaneother15thegauguinconnection.html</link>
	<description><![CDATA[<p>Book 1 - Genevieve Lenard </p><p>Author: Estelle Ryan </p>
	            <p>Language: English </p><p>Published: 2012 </p><p>Murdered artists. Masterful forgeries. Art crime at its worst.</br>

<br>As an insurance investigator and world renowned expert in nonverbal communication, Dr Genevieve Lenard faces the daily challenge of living a successful, independent life. Particularly because she has to deal with her high functioning Autism. Nothing - not her studies, her high IQ or her astounding analytical skills - prepared her for the changes about to take place in her life.</br>

<br>It started as a favour to help her boss' acerbic friend look into the murder of a young artist, but soon it proves to be far more complex. Forced out of her predictable routines, safe environment and limited social interaction, Genevieve is thrown into exploring the meaning of friendship, expanding her social definitions, and for the first time in her life be part of a team in a race to stop more artists from being murdered.</br> </p>]]></description>
	<pubDate><![CDATA[Thu, 09 Jul 15 02:37:08 -0600]]></pubDate>
	<category><![CDATA[Mystery/Detective]]></category>
	<guid>http://manybooks.net/titles/ryaneother15thegauguinconnection.html</guid>
	</item>
	<item>
	<title><![CDATA[A Shot in the Bark]]></title>
	<link>http://manybooks.net/titles/newsomecaother15ashotinthebark.html</link>
	<description><![CDATA[<p>A Dog Park Mystery </p><p>Author: C.A. Newsome </p>
	            <p>Language: English </p><p>Published: 2013 </p><p>Would you recognize a serial killer if you talked to one every day? Artist Lia Anderson doesn’t, and neither does anyone else who frequents the Mount Airy Dog Park. But a violent death brings Detective Peter Dourson into the close-knit group, and he is convinced someone is not who they seem. As the investigation uncovers secrets, Lia struggles to cope with warring emotions while a killer watches and plans. </br> </p>]]></description>
	<pubDate><![CDATA[Thu, 09 Jul 15 02:37:08 -0600]]></pubDate>
	<category><![CDATA[Fiction and Literature]]></category>
	<guid>http://manybooks.net/titles/newsomecaother15ashotinthebark.html</guid>
	</item>
	<item>
	<title><![CDATA[Dream Student]]></title>
	<link>http://manybooks.net/titles/dibenedettojother15dreamstudent.html</link>
	<description><![CDATA[<p>Author: J.J. DiBenedetto </p>
	            <p>Language: English </p><p>Published: 2013 </p><p>College junior Sara Barnes thought her life was totally under control. All she had to worry about was her final exams, Christmas shopping, applying to medical school – and what to do about the cute freshman in the next dorm with a crush on her. Everything was going according to plan, until the night she started seeing other people’s dreams.</br>

<br>It’s bad enough that Sara is learning more than she ever needed to know about her friends and classmates, watching their most secret fantasies whether she wants to or not. Much worse are the other dreams, the ones she sees nearly every night, featuring a strange, terrifying man who commits unspeakable crimes. Now Sara wonders if she’s the only witness to a serial killer – and the only one who knows when and where he’s going to strike next. </br>

<br>Dream Student is the first book of the Dream Series. </br>

<br>Other Books By JJ Dibenedetto: 
Dream Doctor 
Dream Child 
Dream Family 
Waking Dream 
Dream Reunion 
Dream Home</br>

<br>WINNER - FIRST PLACE - Paranormal Romance Guild 2014 Reviewer's Choice Awards - Best Series, Paranormal Romance-Suspense</br> </p>]]></description>
	<pubDate><![CDATA[Thu, 09 Jul 15 02:37:08 -0600]]></pubDate>
	<category><![CDATA[Fiction and Literature]]></category>
	<guid>http://manybooks.net/titles/dibenedettojother15dreamstudent.html</guid>
	</item>
	<item>
	<title><![CDATA[Hell Is Coming]]></title>
	<link>http://manybooks.net/titles/martinnpother15helliscoming.html</link>
	<description><![CDATA[<p>(Watcher's Series Book 1) </p><p>Author: N.P. Martin </p>
	            <p>Language: English </p><p>Published: 2014 </p><p>Leia Swanson has always believed in monsters, especially after one killed her parents when she was seven years old.</br>

<br>Now eighteen, Leia is being forced to confront those same monsters when they suddenly become part of her every day existence. Her life now turned upside down, she is drawn into a world of demons and the supernatural, where she must learn to fight for her life and the life of her brother, Josh.</br>

<br>With help from an Uncle she never knew existed—one who harbours a dark secret concerning her mother—Leia must learn the ways of the Watcher’s, an underground group tasked with controlling the dark supernatural forces that threaten to destroy the world of humans. To become what she needs to be, Leia must put her life and very soul on the line, forever changing who and what she is.</br>

<br>Hell is coming for Leia Swanson—and she must do more than just survive to keep her soul.</br> </p>]]></description>
	<pubDate><![CDATA[Thu, 09 Jul 15 02:37:08 -0600]]></pubDate>
	<category><![CDATA[Fantasy]]></category>
	<guid>http://manybooks.net/titles/martinnpother15helliscoming.html</guid>
	</item>
	<item>
	<title><![CDATA[Brother Against Brother]]></title>
	<link>http://manybooks.net/titles/musickj4054140541.html</link>
	<description><![CDATA[<p>or, The Tompkins Mystery. </p><p>Author: John R. Musick </p>
	            <p>Language: English </p><p>Published: 1887 </p>]]></description>
	<pubDate><![CDATA[Thu, 09 Jul 15 02:37:08 -0600]]></pubDate>
	<category><![CDATA[Mystery/Detective]]></category>
	<guid>http://manybooks.net/titles/musickj4054140541.html</guid>
	</item>
	<item>
	<title><![CDATA[Brother Against Brother]]></title>
	<link>http://manybooks.net/titles/musickj4054140541.html</link>
	<description><![CDATA[<p>or, The Tompkins Mystery. </p><p>Author: John R. Musick </p>
	            <p>Language: English </p><p>Published: 1887 </p>]]></description>
	<pubDate><![CDATA[Thu, 09 Jul 15 02:37:08 -0600]]></pubDate>
	<category><![CDATA[Mystery/Detective]]></category>
	<guid>http://manybooks.net/titles/musickj4054140541.html</guid>
	</item>
	<item>
	<title><![CDATA[La lucha por la vida; Aurora roja]]></title>
	<link>http://manybooks.net/titles/barojapi4054440544-h.html</link>
	<description><![CDATA[<p>Author: Pío Baroja </p>
	            <p>Language: Spanish </p><p>Published: 1904 </p>]]></description>
	<pubDate><![CDATA[Thu, 09 Jul 15 02:37:08 -0600]]></pubDate>
	<category><![CDATA[Fiction and Literature]]></category>
	<guid>http://manybooks.net/titles/barojapi4054440544-h.html</guid>
	</item>
	<item>
	<title><![CDATA[Restless Hearts]]></title>
	<link>http://manybooks.net/titles/ingrammother15restlesshearts.html</link>
	<description><![CDATA[<p>A San Francisco Gold Rush Romance (Gold Rush Romances Book 1) </p><p>Author: Mona Ingram </p>
	            <p>Language: English </p><p>Published: 2014 </p><p>Boston, 1849. Denied her dream of attending medical school, Sarah Howard is desperate to leave Boston far behind. Determined to prove that she can make it on her own, she poses as a married woman and boards a schooner bound for San Francisco.</br>

<br>Stuck working in his family’s merchant bank, Jamie Thompson eagerly accepts the challenge of setting up a branch in San Francisco. He’s been restless for some time now, and barely escaped the clutches of the woman determined to marry him.</br>

<br>The attraction between Sarah and Jamie is instant and powerful, yet each has something to prove, if only to themselves. Will their single-minded determination derail a blossoming romance?</br> </p>]]></description>
	<pubDate><![CDATA[Thu, 09 Jul 15 02:37:08 -0600]]></pubDate>
	<category><![CDATA[Fiction and Literature]]></category>
	<guid>http://manybooks.net/titles/ingrammother15restlesshearts.html</guid>
	</item>
	<item>
	<title><![CDATA[The Complete Opera Book]]></title>
	<link>http://manybooks.net/titles/kobbeg4054040540.html</link>
	<description><![CDATA[<p>The Stories of the Operas, together with 400 of the Leading Airs and Motives in Musical Notation </p><p>Author: Gustav Kobbé </p>
	            <p>Language: English </p><p>Published: 1919 </p>]]></description>
	<pubDate><![CDATA[Thu, 09 Jul 15 02:37:08 -0600]]></pubDate>
	<category><![CDATA[Music]]></category>
	<guid>http://manybooks.net/titles/kobbeg4054040540.html</guid>
	</item>
	<item>
	<title><![CDATA[In League with Israel]]></title>
	<link>http://manybooks.net/titles/johnston4052740527.html</link>
	<description><![CDATA[<p>A Tale of the Chattanooga Conference </p><p>Author: Annie Fellows Johnston </p>
	            <p>Language: English </p><p>Published: 1896 </p>]]></description>
	<pubDate><![CDATA[Thu, 09 Jul 15 02:37:08 -0600]]></pubDate>
	<category><![CDATA[Fiction and Literature]]></category>
	<guid>http://manybooks.net/titles/johnston4052740527.html</guid>
	</item>
	<item>
	<title><![CDATA[I Bring the Fire]]></title>
	<link>http://manybooks.net/titles/gockelcother15ibringthefire.html</link>
	<description><![CDATA[<img src="http://manybooks.net/original_covers/g/gockelc/gockelcother15ibringthefire-thumb.jpg" hspace="10" border="0" alt="Cover image for I Bring the Fire" align="left" /><p>Part I: Wolves (A Loki Story) </p><p>Author: C. Gockel </p>
	            <p>Language: English </p><p>Published: 2014 </p><p>In the middle of America, Amy Lewis is on her way to her grandma's house. She's being pursued by a very bad wolf. Galaxies away Loki is waking up in a prison cell, strangely without a hangover, and with no idea what he's done wrong -- this time anyway. But he does know Thor is hiding something, Odin is up to something wicked, and there seems to be something he's forgotten...</br>

<br>In this urban fantasy tale that is equal parts "Another Fine Myth," "American Gods," and "Once Upon a Time," a very nice midwestern girl and a jaded, mischievous Loki must join forces to outwit gods, elves, magic sniffing cats, and nosy neighbors. If Loki can remember exactly what he's forgotten and Amy can convince him not to be too distracted by Earthly gadgets, her boobs, or three day benders, they just might pull it off...</br>

<br>This first installment of "I Bring the Fire" is for anyone who suspects chaos and mischief makers might have their own redeeming qualities, and anyone who just wants a good fantasy romp through modern Earth, ancient Asgard, and beyond!</br> </p>]]></description>
	<pubDate><![CDATA[Thu, 09 Jul 15 02:37:08 -0600]]></pubDate>
	<category><![CDATA[Fantasy]]></category>
	<guid>http://manybooks.net/titles/gockelcother15ibringthefire.html</guid>
	</item>
	<item>
	<title><![CDATA[The Boy Who Lit Up the Sky]]></title>
	<link>http://manybooks.net/titles/ayjnother15boywholitupthesky.html</link>
	<description><![CDATA[<img src="http://manybooks.net/original_covers/a/ayjn/ayjnother15boywholitupthesky-thumb.jpg" hspace="10" border="0" alt="Cover image for Boy Who Lit Up the Sky, The" align="left" /><p>The Two Moons of Rehnor Book 1 </p><p>Author: J. Naomi Ay </p>
	            <p>Language: English </p><p>Published: 2014 </p><p>Lydia Kalila, the Princess Royal of Mishnah, is forced into marriage with the son of her country's mortal enemy for the sole purpose of producing an heir. Duty comes before personal choice for a princess, especially when her country has been at war for more than a thousand years. Lydia's pregnancy removes her brother and new husband from their respective lines of succession, placing her yet unborn infant at the head of both queues. No one is happy about this, especially Lydia who dies during childbirth from wounds caused by the talon-like toenails of her very strange newborn son...</br> </p>]]></description>
	<pubDate><![CDATA[Thu, 09 Jul 15 02:37:08 -0600]]></pubDate>
	<category><![CDATA[Science Fiction]]></category>
	<guid>http://manybooks.net/titles/ayjnother15boywholitupthesky.html</guid>
	</item>
	<item>
	<title><![CDATA[A Good Man Gone]]></title>
	<link>http://manybooks.net/titles/hartoinawother15goodmangone.html</link>
	<description><![CDATA[<img src="http://manybooks.net/original_covers/h/hartoinaw/hartoinawother15goodmangone-thumb.jpg" hspace="10" border="0" alt="Cover image for Good Man Gone, A" align="left" /><p>Mercy Watts Mysteries Book 1 </p><p>Author: A.W. Hartoin </p>
	            <p>Language: English </p><p>Published: 2013 </p><p>It’s summer in St. Louis and Mercy Watts is on vacation from her parents. The great detective and his nosy wife are on a cruise and Mercy thinks she’s off the hook for doing any investigating for them. But when a family friend has a fatal heart attack, Dad has one of his famous feelings and orders Mercy to look into it. Mercy tries not to get sucked in. She really does, but she’s her father’s daughter. Soon Gavin’s death leads to a more grisly one, the death of a bride on her wedding day. Can the two be connected? Was Gavin murdered? Now Mercy can’t stop. You do for family. That’s all there is to it. </p>]]></description>
	<pubDate><![CDATA[Thu, 09 Jul 15 02:37:08 -0600]]></pubDate>
	<category><![CDATA[Mystery/Detective]]></category>
	<guid>http://manybooks.net/titles/hartoinawother15goodmangone.html</guid>
	</item>
	<item>
	<title><![CDATA[The History of Chivalry]]></title>
	<link>http://manybooks.net/titles/jamesgpr4053740537.html</link>
	<description><![CDATA[<p>Author: G.P.R. James </p>
	            <p>Language: English </p><p>Published: 1830 </p>]]></description>
	<pubDate><![CDATA[Thu, 09 Jul 15 02:37:08 -0600]]></pubDate>
	<category><![CDATA[History]]></category>
	<guid>http://manybooks.net/titles/jamesgpr4053740537.html</guid>
	</item>
	<item>
	<title><![CDATA[A Lost Cause]]></title>
	<link>http://manybooks.net/titles/thorne4053940539.html</link>
	<description><![CDATA[<p>Author: Guy Thorne </p>
	            <p>Language: English </p><p>Published: 1905 </p>]]></description>
	<pubDate><![CDATA[Thu, 09 Jul 15 02:37:08 -0600]]></pubDate>
	<category><![CDATA[Fiction and Literature]]></category>
	<guid>http://manybooks.net/titles/thorne4053940539.html</guid>
	</item>
	<item>
	<title><![CDATA[Talks about Flowers]]></title>
	<link>http://manybooks.net/titles/wellcomemd4053440534.html</link>
	<description><![CDATA[<p>Author: M. D. Wellcome </p>
	            <p>Language: English </p><p>Published: 1881 </p>]]></description>
	<pubDate><![CDATA[Thu, 09 Jul 15 02:37:08 -0600]]></pubDate>
	<category><![CDATA[Non-fiction]]></category>
	<guid>http://manybooks.net/titles/wellcomemd4053440534.html</guid>
	</item>
	<item>
	<title><![CDATA[They Who Knock at Our Gates]]></title>
	<link>http://manybooks.net/titles/antinm4053540535.html</link>
	<description><![CDATA[<p>A Complete Gospel of Immigration </p><p>Author: Mary Antin </p>
	            <p>Language: English </p><p>Published: 1914 </p>]]></description>
	<pubDate><![CDATA[Thu, 09 Jul 15 02:37:08 -0600]]></pubDate>
	<category><![CDATA[Non-fiction]]></category>
	<guid>http://manybooks.net/titles/antinm4053540535.html</guid>
	</item>
	<item>
	<title><![CDATA[Essai d'Introduction à l'Histoire Généalogique]]></title>
	<link>http://manybooks.net/titles/polio4053040530-h.html</link>
	<description><![CDATA[<p>Author: Oscar de Poli </p>
	            <p>Language: French </p><p>Published: 1887 </p>]]></description>
	<pubDate><![CDATA[Thu, 09 Jul 15 02:37:08 -0600]]></pubDate>
	<category><![CDATA[Essays]]></category>
	<guid>http://manybooks.net/titles/polio4053040530-h.html</guid>
	</item>
	<item>
	<title><![CDATA[A Century in the Comptroller's Office, State of New York, 1797 to 1897]]></title>
	<link>http://manybooks.net/titles/robertsja4053140531.html</link>
	<description><![CDATA[<p>Author: James A. Roberts </p>
	            <p>Language: English </p><p>Published: 1897 </p>]]></description>
	<pubDate><![CDATA[Thu, 09 Jul 15 02:37:08 -0600]]></pubDate>
	<category><![CDATA[Non-fiction]]></category>
	<guid>http://manybooks.net/titles/robertsja4053140531.html</guid>
	</item>
	<item>
	<title><![CDATA[The Chronicles of Rhoda]]></title>
	<link>http://manybooks.net/titles/coxft4052640526.html</link>
	<description><![CDATA[<p>Author: Florence Tinsley Cox </p>
	            <p>Language: English </p><p>Published: 1909 </p>]]></description>
	<pubDate><![CDATA[Thu, 09 Jul 15 02:37:08 -0600]]></pubDate>
	<category><![CDATA[Fiction and Literature]]></category>
	<guid>http://manybooks.net/titles/coxft4052640526.html</guid>
	</item>
	<item>
	<title><![CDATA[Spanish Vistas]]></title>
	<link>http://manybooks.net/titles/lathropg4052840528-h.html</link>
	<description><![CDATA[<p>Author: George Parsons Lathrop </p>
	            <p>Language: English </p><p>Published: 1883 </p>]]></description>
	<pubDate><![CDATA[Thu, 09 Jul 15 02:37:08 -0600]]></pubDate>
	<category><![CDATA[Travel]]></category>
	<guid>http://manybooks.net/titles/lathropg4052840528-h.html</guid>
	</item>
	<item>
	<title><![CDATA[Yorkshire Family Romance]]></title>
	<link>http://manybooks.net/titles/rossf4052240522.html</link>
	<description><![CDATA[<p>Author: Frederick Ross </p>
	            <p>Language: English </p><p>Published: 1891 </p>]]></description>
	<pubDate><![CDATA[Thu, 09 Jul 15 02:37:08 -0600]]></pubDate>
	<category><![CDATA[Fiction and Literature]]></category>
	<guid>http://manybooks.net/titles/rossf4052240522.html</guid>
	</item>
	<item>
	<title><![CDATA[Kathie's Soldiers]]></title>
	<link>http://manybooks.net/titles/douglasam4052540525.html</link>
	<description><![CDATA[<p>Author: Amanda Minnie Douglas </p>
	            <p>Language: English </p><p>Published: 1899 </p>]]></description>
	<pubDate><![CDATA[Thu, 09 Jul 15 02:37:08 -0600]]></pubDate>
	<category><![CDATA[Fiction and Literature]]></category>
	<guid>http://manybooks.net/titles/douglasam4052540525.html</guid>
	</item>
	<item>
	<title><![CDATA[The Soul Stealer]]></title>
	<link>http://manybooks.net/titles/thorne4052040520.html</link>
	<description><![CDATA[<p>Author: Guy Thorne </p>
	            <p>Language: English </p><p>Published: 1906 </p>]]></description>
	<pubDate><![CDATA[Thu, 09 Jul 15 02:37:08 -0600]]></pubDate>
	<category><![CDATA[Fiction and Literature]]></category>
	<guid>http://manybooks.net/titles/thorne4052040520.html</guid>
	</item>
	<item>
	<title><![CDATA[An Etymological Dictionary of the Scottish Language]]></title>
	<link>http://manybooks.net/titles/jamiesonj4052140521.html</link>
	<description><![CDATA[<p>in which the words are explained in their different senses, ... </p><p>Author: John Jamieson </p>
	            <p>Language: English </p><p>Published: 1818 </p>]]></description>
	<pubDate><![CDATA[Thu, 09 Jul 15 02:37:08 -0600]]></pubDate>
	<category><![CDATA[Non-fiction]]></category>
	<guid>http://manybooks.net/titles/jamiesonj4052140521.html</guid>
	</item>
	<item>
	<title><![CDATA[A Bottle in the Smoke]]></title>
	<link>http://manybooks.net/titles/raejm4051740517.html</link>
	<description><![CDATA[<p>A Tale of Anglo-Indian Life </p><p>Author: Janet Milne Rae </p>
	            <p>Language: English </p><p>Published: 1912 </p>]]></description>
	<pubDate><![CDATA[Thu, 09 Jul 15 02:37:08 -0600]]></pubDate>
	<category><![CDATA[Fiction and Literature]]></category>
	<guid>http://manybooks.net/titles/raejm4051740517.html</guid>
	</item>
	<item>
	<title><![CDATA[The Captain of the Janizaries]]></title>
	<link>http://manybooks.net/titles/ludlowjm4051940519.html</link>
	<description><![CDATA[<p>A story of the times of Scanderberg and the fall of Constantinople </p><p>Author: James M. Ludlow </p>
	            <p>Language: English </p><p>Published: 1886 </p>]]></description>
	<pubDate><![CDATA[Thu, 09 Jul 15 02:37:08 -0600]]></pubDate>
	<category><![CDATA[Fiction and Literature]]></category>
	<guid>http://manybooks.net/titles/ludlowjm4051940519.html</guid>
	</item>
	<item>
	<title><![CDATA[Elijah the Tishbite]]></title>
	<link>http://manybooks.net/titles/mackintoshch4051540515-h.html</link>
	<description><![CDATA[<p>Miscellaneous Writings of C. H. Mackintosh, volume V </p><p>Author: Charles Henry Mackintosh </p>
	            <p>Language: English </p><p>Published: 1898 </p>]]></description>
	<pubDate><![CDATA[Thu, 09 Jul 15 02:37:08 -0600]]></pubDate>
	<category><![CDATA[Non-fiction]]></category>
	<guid>http://manybooks.net/titles/mackintoshch4051540515-h.html</guid>
	</item>
	<item>
	<title><![CDATA[La civilisation japonaise]]></title>
	<link>http://manybooks.net/titles/rosnyl4051640516-h.html</link>
	<description><![CDATA[<p>conférences faites à l'école spéciale des langues orientales </p><p>Author: Léon Louis Lucien Prunol de Rosny </p>
	            <p>Language: French </p><p>Published: 1883 </p>]]></description>
	<pubDate><![CDATA[Thu, 09 Jul 15 02:37:08 -0600]]></pubDate>
	<category><![CDATA[Non-fiction]]></category>
	<guid>http://manybooks.net/titles/rosnyl4051640516-h.html</guid>
	</item>
	<item>
	<title><![CDATA[Eeva]]></title>
	<link>http://manybooks.net/titles/alkios4051240512-8.html</link>
	<description><![CDATA[<p>Author: Santeri Alkio </p>
	            <p>Language: Finnish </p><p>Published: 1888 </p>]]></description>
	<pubDate><![CDATA[Thu, 09 Jul 15 02:37:08 -0600]]></pubDate>
	<category><![CDATA[Non-fiction]]></category>
	<guid>http://manybooks.net/titles/alkios4051240512-8.html</guid>
	</item>
	<item>
	<title><![CDATA[Danes, Saxons and Normans]]></title>
	<link>http://manybooks.net/titles/edgarj4051340513.html</link>
	<description><![CDATA[<p>or, Stories of our ancestors </p><p>Author: John G. Edgar </p>
	            <p>Language: English </p><p>Published: 1863 </p>]]></description>
	<pubDate><![CDATA[Thu, 09 Jul 15 02:37:08 -0600]]></pubDate>
	<category><![CDATA[History]]></category>
	<guid>http://manybooks.net/titles/edgarj4051340513.html</guid>
	</item>
	<item>
	<title><![CDATA[The Watcher, and other weird stories]]></title>
	<link>http://manybooks.net/titles/fanujose4051040510.html</link>
	<description><![CDATA[<p>Author: Joseph Sheridan Le Fanu </p>
	            <p>Language: English </p><p>Published: 1894 </p>]]></description>
	<pubDate><![CDATA[Thu, 09 Jul 15 02:37:08 -0600]]></pubDate>
	<category><![CDATA[Fiction and Literature]]></category>
	<guid>http://manybooks.net/titles/fanujose4051040510.html</guid>
	</item>
	<item>
	<title><![CDATA[Commander Lawless V.C.]]></title>
	<link>http://manybooks.net/titles/bennettr4051140511.html</link>
	<description><![CDATA[<p>Author: Rolf Bennett </p>
	            <p>Language: English </p><p>Published: 1916 </p>]]></description>
	<pubDate><![CDATA[Thu, 09 Jul 15 02:37:08 -0600]]></pubDate>
	<category><![CDATA[Fiction and Literature]]></category>
	<guid>http://manybooks.net/titles/bennettr4051140511.html</guid>
	</item>
	<item>
	<title><![CDATA[The Challenge of the Dead]]></title>
	<link>http://manybooks.net/titles/grahams4050740507.html</link>
	<description><![CDATA[<p>A vision of the war and the life of the common soldier in France, seen two years afterwards between August and November, 1920 </p><p>Author: Stephen Graham </p>
	            <p>Language: English </p><p>Published: 1921 </p>]]></description>
	<pubDate><![CDATA[Thu, 09 Jul 15 02:37:08 -0600]]></pubDate>
	<category><![CDATA[Fiction and Literature]]></category>
	<guid>http://manybooks.net/titles/grahams4050740507.html</guid>
	</item>
	<item>
	<title><![CDATA[True Stories of Girl Heroines]]></title>
	<link>http://manybooks.net/titles/everett-greene4050840508.html</link>
	<description><![CDATA[<p>Author: Evelyn Everett-Green </p>
	            <p>Language: English </p><p>Published: 1901 </p>]]></description>
	<pubDate><![CDATA[Thu, 09 Jul 15 02:37:08 -0600]]></pubDate>
	<category><![CDATA[Fiction and Literature]]></category>
	<guid>http://manybooks.net/titles/everett-greene4050840508.html</guid>
	</item>
	
  </channel>
</rss>
