
<?xml version="1.0" encoding="ISO-8859-1"?>
<rss xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:syn="http://purl.org/rss/1.0/modules/syndication/" xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:dcterms="http://purl.org/dc/terms/" version="2.0">
  <channel>
	<link rel="self" href="http://www.technewsworld.com/perl/syndication/rssfull.pl" xmlns="http://www.w3.org/2005/Atom" />
	<title>TechNewsWorld</title>
	<copyright>Copyright 2016</copyright>
	<link>http://www.technewsworld.com</link>
	<language>en-us</language>
	<description>TechNewsWorld -- "All Tech, All the Time"</description>
	<lastBuildDate>Mon, 04 Jul 2016 12:01:12 -0700</lastBuildDate>
	<pubDate>Mon, 04 Jul 2016 12:01:12 -0700</pubDate>
	<syn:updatePeriod>hourly</syn:updatePeriod>
	<dc:creator>ECT News Network</dc:creator>
	<dc:publisher>ECT News Network</dc:publisher>
	<syn:updateBase>2016-07-04T12:01:12-07:00</syn:updateBase>
	<syn:updateFrequency>1</syn:updateFrequency>
	<image>
		<url>
		http://www.technewsworld.com/images/rss/tnw_100x36.jpg
		</url>
		<link>http://www.technewsworld.com</link>
		<title>TechNewsWorld</title>
	</image>

	<item>
		<title>What If We've Got Big Data and Analytics All Wrong?</title>
		<guid isPermaLink="false">http://www.technewsworld.com-83656</guid>
		<link>http://www.technewsworld.com/story/83656.html?rss=1</link>
		<description>Every once in a while I run into a little company that comes at an existing market as if the folks already in it are idiots -- and sometimes they are right. Here's the thing: What often happens is a company breaks out in a segment, and everyone groups around that company's ideas and emulates them. Few initially stand up and say, &quot;Wait a minute -- what if they're wrong?&quot;</description>
		<dc:creator>Rob Enderle</dc:creator>
		<dc:date>2016-07-04T08:00:00-07:00</dc:date>
		<dc:subject>Tech Buzz</dc:subject>
		<dcterms:issued>2016-07-04T08:00:00-07:00</dcterms:issued>
		<dcterms:modified>2016-07-01T19:47:43-07:00</dcterms:modified>
		<content:encoded><![CDATA[
			<a href="http://www.technewsworld.com/story/83656.html?rss=1"><img src="http://www.technewsworld.com/images/rw391734/big-data" align="left" alt="" hspace="7" border="0" /></a>
			Every once in a while I run into a little company that comes at an existing market as if the folks already in it are idiots -- and sometimes they are right. Here's the thing: What often happens is a company breaks out in a segment, and everyone groups around that company's ideas and emulates them. Few initially stand up and say, "Wait a minute -- what if they're wrong?" Often we get so excited about building the market, we don't realize until much later that the initial attempt at solving a problem doesn't work.

			]]></content:encoded>
	</item>

	<item>
		<title>Gadget Ogling: Artsy Audio, Stress Detectives, and Wee Violins</title>
		<guid isPermaLink="false">http://www.technewsworld.com-83660</guid>
		<link>http://www.technewsworld.com/story/83660.html?rss=1</link>
		<description>I don't think any product range beats speakers for running the design gamut from gorgeous to ghastly. There are so many to choose from, in all shapes, sizes and colors, that there's something for everyone -- plus a few things no one should buy. But what if your sound system were a piece of art, literally? Case of Bass has created a boombox print that houses a speaker system in a shadow box.</description>
		<dc:creator>Kris Holt</dc:creator>
		<dc:date>2016-07-02T10:00:00-07:00</dc:date>
		<dc:subject>Tech Buzz</dc:subject>
		<dcterms:issued>2016-07-02T10:00:00-07:00</dcterms:issued>
		<dcterms:modified>2016-07-02T16:47:59-07:00</dcterms:modified>
		<content:encoded><![CDATA[
			<a href="http://www.technewsworld.com/story/83660.html?rss=1"><img src="http://www.technewsworld.com/images/rw639399/audio-speaker-bluetooth" align="left" alt="" hspace="7" border="0" /></a>
			I don't think any product range beats speakers for running the design gamut from gorgeous to ghastly. There are so many to choose from, in all shapes, sizes and colors, that there's something for everyone -- plus a few things no one should buy. But what if your sound system were a piece of art, literally? Case of Bass has created a boombox print that houses a speaker system in a shadow box behind it. It streams audio over Bluetooth. It's something different, and it's fun.

			]]></content:encoded>
	</item>

	<item>
		<title>Google Opens Faster Big Data Pipe Between US and Japan</title>
		<guid isPermaLink="false">http://www.technewsworld.com-83659</guid>
		<link>http://www.technewsworld.com/story/83659.html?rss=1</link>
		<description>Google on Wednesday unveiled its latest investment in long-haul undersea fiber optic cabling. Dubbed the &quot;Faster Cable System,&quot; it is the highest-capacity undersea cable built to date, providing 60-Tbps bandwidth between the United States and Japan. It is about 10 million times faster than an average cable modem, Google noted. Google is one of six members of the Faster Consortium.</description>
		<dc:creator>Peter Suciu</dc:creator>
		<dc:date>2016-07-01T07:00:00-07:00</dc:date>
		<dc:subject>Internet</dc:subject>
		<dcterms:issued>2016-07-01T07:00:00-07:00</dcterms:issued>
		<dcterms:modified>2016-07-01T12:00:51-07:00</dcterms:modified>
		<content:encoded><![CDATA[
			<a href="http://www.technewsworld.com/story/83659.html?rss=1"><img src="http://www.technewsworld.com/images/rw573617/internet-ocean" align="left" alt="" hspace="7" border="0" /></a>
			Google on Wednesday unveiled its latest investment in long-haul undersea fiber optic cabling. Dubbed the "Faster Cable System," it is the highest-capacity undersea cable built to date, providing 60-Tbps bandwidth between the United States and Japan. It is about 10 million times faster than an average cable modem, Google noted. Google is one of six members of the Faster Consortium, which officially announced the development of the cable in 2014. Google has sole access to the pair of 100Gb/s x 100 wavelength optical transmission strands that run between Oregon and mainland Japan.

			]]></content:encoded>
	</item>

	<item>
		<title>Nothing Ghostly About Devialet's Phantom Gold Sound</title>
		<guid isPermaLink="false">http://www.technewsworld.com-83657</guid>
		<link>http://www.technewsworld.com/story/83657.html?rss=1</link>
		<description>Devialet, the French company that has built a reputation in the audio market for high-end wireless speakers, on Tuesday announced its newest addition: the $3,000 Phantom Gold. The Phantom Gold looks something like a futuristic Faberge egg, and it's priced like one, too. That said, it has some ear-pleasing and ear-splitting specs.
Devialet has given it a power boost to 4,500 watts.</description>
		<dc:creator>John P. Mello Jr.</dc:creator>
		<dc:date>2016-06-30T13:17:25-07:00</dc:date>
		<dc:subject>Audio/Video</dc:subject>
		<dcterms:issued>2016-06-30T13:17:25-07:00</dcterms:issued>
		<dcterms:modified>2016-07-01T05:01:25-07:00</dcterms:modified>
		<content:encoded><![CDATA[
			<a href="http://www.technewsworld.com/story/83657.html?rss=1"><img src="http://www.technewsworld.com/images/rw196690/high-end-speaker" align="left" alt="" hspace="7" border="0" /></a>
			Devialet, the French company that has built a reputation in the audio market for high-end wireless speakers, on Tuesday announced its newest addition: the $3,000 Phantom Gold. The Phantom Gold looks something like a futuristic Faberge egg, and it's priced like one, too. That said, it has some ear-pleasing and ear-splitting specs.
Devialet has given it a power boost to 4,500 watts. That enables it to crank out sound at motorcycle levels of 108 decibels, and it does it with minimal harmonic distortion of just 0.0005 percent.

			]]></content:encoded>
	</item>

	<item>
		<title>The Internet of Medical Things, Part 1: A New Concept in Healthcare</title>
		<guid isPermaLink="false">http://www.technewsworld.com-83654</guid>
		<link>http://www.technewsworld.com/story/83654.html?rss=1</link>
		<description>Manufacturers are eager to lay the bricks and help pave the road to better, more personalized healthcare through integration of connected devices in the new Internet of Medical Things. Compared to other industries, healthcare has been &quot;inherently conservative and slow&quot; to embrace innovations such as the cloud and the Internet of Things -- but that's changing.</description>
		<dc:creator>Quinten Plummer</dc:creator>
		<dc:date>2016-06-30T05:00:00-07:00</dc:date>
		<dc:subject>Health</dc:subject>
		<dcterms:issued>2016-06-30T05:00:00-07:00</dcterms:issued>
		<dcterms:modified>2016-06-30T08:46:59-07:00</dcterms:modified>
		<content:encoded><![CDATA[
			<a href="http://www.technewsworld.com/story/83654.html?rss=1"><img src="http://www.technewsworld.com/images/rw245280/connected-healthcare-devices" align="left" alt="" hspace="7" border="0" /></a>
			Manufacturers are eager to lay the bricks and help pave the road to better, more personalized healthcare through integration of connected devices in the new Internet of Medical Things. Compared to other industries, healthcare has been "inherently conservative and slow" to embrace innovations such as the cloud and the Internet of Things -- but that's changing. Innovative tech products and services are making it harder for healthcare providers to ignore the potential benefits of connected medical devices and the IoMT, according to Ian Shakil, CEO of Augmedix.

			]]></content:encoded>
	</item>

	<item>
		<title>Pichai Account Trespassers Claim Their Hacking Heart's in the Right Place</title>
		<guid isPermaLink="false">http://www.technewsworld.com-83651</guid>
		<link>http://www.technewsworld.com/story/83651.html?rss=1</link>
		<description>Hackers late Sunday broke into CEO Sundar Pichai's Quora account and through it accessed his Twitter followers, according to reports. The group taking credit for the breach, OurMine Security, previously hit other prominent high-tech figures, including Facebook CEO Mark Zuckerberg, Spotify CEO Daniel Elk, Amazon CTO Werner Vogels and former Twitter CEO Dick Costolo.</description>
		<dc:creator>Richard Adhikari</dc:creator>
		<dc:date>2016-06-29T11:01:49-07:00</dc:date>
		<dc:subject>Hacking</dc:subject>
		<dcterms:issued>2016-06-29T11:01:49-07:00</dcterms:issued>
		<dcterms:modified>2016-06-29T14:38:23-07:00</dcterms:modified>
		<content:encoded><![CDATA[
			<a href="http://www.technewsworld.com/story/83651.html?rss=1"><img src="http://www.technewsworld.com/images/rw770101/multifactor" align="left" alt="" hspace="7" border="0" /></a>
			Hackers late Sunday broke into CEO Sundar Pichai's Quora account and through it accessed his Twitter followers, according to reports. The group taking credit for the breach, OurMine Security, previously hit other prominent high-tech figures, including Facebook CEO Mark Zuckerberg, Spotify CEO Daniel Elk, Amazon CTO Werner Vogels and former Twitter CEO Dick Costolo. OurMine's goal is to improve the security of social media accounts around the world, the group has claimed.

			]]></content:encoded>
	</item>

	<item>
		<title>Makulu's LinDoz Is a Smooth Windows-Cinnamon Blend</title>
		<guid isPermaLink="false">http://www.technewsworld.com-83647</guid>
		<link>http://www.technewsworld.com/story/83647.html?rss=1</link>
		<description>If you want a classy distro with the look and feel of the Microsoft platform, the MakuluLinux LinDoz edition will feed your nostalgia. MakuluLinux developer Jacque Montague Raymer released MakuluLinux 11 LinDoz edition earlier this month after a year and a half in the making. Forked from the Original Aero Edition, it first appeared with the MakuluLinux 9 series.</description>
		<dc:creator>Jack M. Germain</dc:creator>
		<dc:date>2016-06-29T05:00:00-07:00</dc:date>
		<dc:subject>Reviews</dc:subject>
		<dcterms:issued>2016-06-29T05:00:00-07:00</dcterms:issued>
		<dcterms:modified>2016-06-29T05:23:58-07:00</dcterms:modified>
		<content:encoded><![CDATA[
			<a href="http://www.technewsworld.com/story/83647.html?rss=1"><img src="http://www.technewsworld.com/images/rw685929/cinnamon-desktop" align="left" alt="" hspace="7" border="0" /></a>
			If you want a classy distro with the look and feel of the Microsoft platform, the MakuluLinux LinDoz edition will feed your nostalgia. MakuluLinux developer Jacque Montague Raymer released MakuluLinux 11 LinDoz edition earlier this month after a year and a half in the making. Forked from the Original Aero Edition, it first appeared with the MakuluLinux 9 series. Its retread replacement with the LinDoz edition offers little in the way of new features but does polish the tarnish from earlier efforts.

			]]></content:encoded>
	</item>

	<item>
		<title>Twitter Tries to Get Stickier</title>
		<guid isPermaLink="false">http://www.technewsworld.com-83648</guid>
		<link>http://www.technewsworld.com/story/83648.html?rss=1</link>
		<description>Twitter fans who want to dress up pix they post to the service can do it with #Stickers, a new feature announced Monday. &quot;Soon, you can browse our rotating sets of stickers to join in on real-time conversations, and select from the library of hundreds of accessories, emoji, and props to make your photos more fun,&quot; said Sasank Reddy, a senior product manager at Twitter.</description>
		<dc:creator>John P. Mello Jr.</dc:creator>
		<dc:date>2016-06-28T05:00:00-07:00</dc:date>
		<dc:subject>Photography</dc:subject>
		<dcterms:issued>2016-06-28T05:00:00-07:00</dcterms:issued>
		<dcterms:modified>2016-06-29T08:05:32-07:00</dcterms:modified>
		<content:encoded><![CDATA[
			<a href="http://www.technewsworld.com/story/83648.html?rss=1"><img src="http://www.technewsworld.com/images/rw222167/twitter" align="left" alt="" hspace="7" border="0" /></a>
			Twitter fans who want to dress up pix they post to the service can do it with #Stickers, a new feature announced Monday. "Soon, you can browse our rotating sets of stickers to join in on real-time conversations, and select from the library of hundreds of accessories, emoji, and props to make your photos more fun," said Sasank Reddy, a senior product manager at Twitter. "Use them to share what you're doing or how you're feeling, to show support for a cause, or to just add some flair."

			]]></content:encoded>
	</item>

	<item>
		<title>AI Playmate Cozmo Wants to Get to Know You</title>
		<guid isPermaLink="false">http://www.technewsworld.com-83644</guid>
		<link>http://www.technewsworld.com/story/83644.html?rss=1</link>
		<description>Anki on Monday introduced Cozmo, a little robot powered by an advanced artificial intelligence. Cozmo promises to be far more interactive than any toy robot that has been released to date. Although he's designed with play in mind, the combination of technology from toys, videogames and robotics represents a major leap forward, according to Cozmo's creators.</description>
		<dc:creator>Peter Suciu</dc:creator>
		<dc:date>2016-06-27T15:02:33-07:00</dc:date>
		<dc:subject>Emerging Tech</dc:subject>
		<dcterms:issued>2016-06-27T15:02:33-07:00</dcterms:issued>
		<dcterms:modified>2016-06-28T07:21:11-07:00</dcterms:modified>
		<content:encoded><![CDATA[
			<a href="http://www.technewsworld.com/story/83644.html?rss=1"><img src="http://www.technewsworld.com/images/rw305887/toy" align="left" alt="" hspace="7" border="0" /></a>
			Anki on Monday introduced Cozmo, a little robot powered by an advanced artificial intelligence. Cozmo promises to be far more interactive than any toy robot that has been released to date. Although the multidisciplinary team of roboticists, animators and game developers who designed Cozmo had play in mind, they noted that the combination of technology from toys, videogames and robotics represents a major leap forward. Anki's three creators all got their start at Carnegie Mellon's Robotic Institute. Cozmo, which can nestle in the palm of your hand, has a "brain."

			]]></content:encoded>
	</item>

	<item>
		<title>Gun Control and Learning to Make Data-Driven Decisions</title>
		<guid isPermaLink="false">http://www.technewsworld.com-83641</guid>
		<link>http://www.technewsworld.com/story/83641.html?rss=1</link>
		<description>We live in an unprecedented age of information and computing power -- yet whether publicly or privately, we still make decisions largely on how we feel rather than based on hard information. With this massive influx of data and computing power, when it comes to issues like global warming or gun control, we are more likely to decide based on how we feel rather than figuring out the facts.</description>
		<dc:creator>Rob Enderle</dc:creator>
		<dc:date>2016-06-27T11:08:45-07:00</dc:date>
		<dc:subject>Tech Buzz</dc:subject>
		<dcterms:issued>2016-06-27T11:08:45-07:00</dcterms:issued>
		<dcterms:modified>2016-06-27T15:53:43-07:00</dcterms:modified>
		<content:encoded><![CDATA[
			<a href="http://www.technewsworld.com/story/83641.html?rss=1"><img src="http://www.technewsworld.com/images/rw523974/orlando" align="left" alt="" hspace="7" border="0" /></a>
			We live in an unprecedented age of information and computing power -- yet whether publicly or privately, we still make decisions largely on how we feel rather than based on hard information. With this massive influx of data and computing power, when it comes to issues like global warming or gun control -- and much of what is being shown as data is false -- we are more likely to decide based on how we feel about an issue than spending a comparatively little time figuring out the facts and then making what would be the right decision for us.

			]]></content:encoded>
	</item>

	<item>
		<title>Fedora 24 Pushes Linux Boundaries</title>
		<guid isPermaLink="false">http://www.technewsworld.com-83642</guid>
		<link>http://www.technewsworld.com/story/83642.html?rss=1</link>
		<description>Red Hat this week announced the release of Fedora 24, an open source Linux operating system maintained by the Fedora Project community. Fedora Linux is the community version of Red Hat Enterprise Linux, or RHEL. Fedora 24 is comprised of a set of base packages that form the foundation of three distinct editions: Fedora 24 Cloud, Fedora 24 Server and Fedora 24 Workstation.</description>
		<dc:creator>Jack M. Germain</dc:creator>
		<dc:date>2016-06-25T10:30:43-07:00</dc:date>
		<dc:subject>Software</dc:subject>
		<dcterms:issued>2016-06-25T10:30:43-07:00</dcterms:issued>
		<dcterms:modified>2016-06-25T14:25:12-07:00</dcterms:modified>
		<content:encoded><![CDATA[
			<a href="http://www.technewsworld.com/story/83642.html?rss=1"><img src="http://www.technewsworld.com/images/rw631127/fedora" align="left" alt="" hspace="7" border="0" /></a>
			Red Hat this week announced the release of Fedora 24, an open source Linux operating system maintained by the Fedora Project community. Fedora Linux is the community version of Red Hat Enterprise Linux, or RHEL. Fedora 24 is comprised of a set of base packages that form the foundation of three distinct editions: Fedora 24 Cloud, Fedora 24 Server and Fedora 24 Workstation. Delayed four times during its development cycle, Fedora 24 includes glibc 2.23 for better performance, and improvements to POSIX compliance and GNU Compiler Collection 6.

			]]></content:encoded>
	</item>

	<item>
		<title>BitTorrent Dips Toes Into Ad Stream</title>
		<guid isPermaLink="false">http://www.technewsworld.com-83638</guid>
		<link>http://www.technewsworld.com/story/83638.html?rss=1</link>
		<description>BitTorrent on Thursday announced a revamp of its Bundle offering as a pilot project, giving it a new name, &quot;BitTorrent Now.&quot; Heavily used by independent musicians and filmmakers, as well as the BBC and other organizations, the service now accepts ads. BitTorrent Now's first streaming app is available for Android. Apps for iOS and Apple TV are in the works.</description>
		<dc:creator>Richard Adhikari</dc:creator>
		<dc:date>2016-06-24T05:00:00-07:00</dc:date>
		<dc:subject>Online Entertainment</dc:subject>
		<dcterms:issued>2016-06-24T05:00:00-07:00</dcterms:issued>
		<dcterms:modified>2016-06-24T16:12:10-07:00</dcterms:modified>
		<content:encoded><![CDATA[
			<a href="http://www.technewsworld.com/story/83638.html?rss=1"><img src="http://www.technewsworld.com/images/rw648917/bittorrent" align="left" alt="" hspace="7" border="0" /></a>
			BitTorrent on Thursday announced a revamp of its Bundle offering as a pilot project, giving it a new name, "BitTorrent Now." The service now accepts ads. BitTorrent Now's first streaming app is available for Android. Apps for iOS and Apple TV are in the works. "BitTorrent Now ... adds our first mobile streaming apps, and it adds an important new business model for our creative partnerships: ad-supported streaming," said Christian Averill, BitTorrent vice president of marketing.

			]]></content:encoded>
	</item>

	<item>
		<title>Study: Third-Party Apps Pose Risks for Enterprises</title>
		<guid isPermaLink="false">http://www.technewsworld.com-83635</guid>
		<link>http://www.technewsworld.com/story/83635.html?rss=1</link>
		<description>Since mobile computing put an end to the good old days when IT departments had absolute control over software deployed in the enterprise, there's been a rise in employees' use of third-party applications -- a rise that poses security risks to corporate environments. That is one of the findings in a report CloudLock released last week.</description>
		<dc:creator>John P. Mello Jr.</dc:creator>
		<dc:date>2016-06-23T05:00:00-07:00</dc:date>
		<dc:subject>Cybersecurity</dc:subject>
		<dcterms:issued>2016-06-23T05:00:00-07:00</dcterms:issued>
		<dcterms:modified>2016-06-24T13:11:12-07:00</dcterms:modified>
		<content:encoded><![CDATA[
			<a href="http://www.technewsworld.com/story/83635.html?rss=1"><img src="http://www.technewsworld.com/images/rw359196/enterprise-mobile-app-security" align="left" alt="" hspace="7" border="0" /></a>
			Since mobile computing put an end to the good old days when IT departments had absolute control over software deployed in the enterprise, there's been a rise in employees' use of third-party applications -- a rise that poses security risks to corporate environments. That is one of the findings in a report CloudLock released last week. The number of third-party apps connected to corporate environments increased by 30 fold over the last two years, the firm reported, from 5,500 to 150,000 apps.

			]]></content:encoded>
	</item>

	<item>
		<title>Headphone Jack-less iPhone 7 Rumor Gains Ground</title>
		<guid isPermaLink="false">http://www.technewsworld.com-83634</guid>
		<link>http://www.technewsworld.com/story/83634.html?rss=1</link>
		<description>The rumor that Apple will get rid of the headphone jack in the iPhone 7 resurfaced Tuesday. Apple is expected to launch the new iPhone later this year. The iPhone's Lightning connector reportedly will do double duty as its charging port and headphone connector. The result will be a thinner device and better water resistance. If true, the move &quot;is right in terms of timing,&quot; said analyst Jeff Orr.</description>
		<dc:creator>Richard Adhikari</dc:creator>
		<dc:date>2016-06-22T15:47:19-07:00</dc:date>
		<dc:subject>Tech Buzz</dc:subject>
		<dcterms:issued>2016-06-22T15:47:19-07:00</dcterms:issued>
		<dcterms:modified>2016-06-23T02:57:12-07:00</dcterms:modified>
		<content:encoded><![CDATA[
			<a href="http://www.technewsworld.com/story/83634.html?rss=1"><img src="http://www.technewsworld.com/images/rw557669/iphone-7" align="left" alt="" hspace="7" border="0" /></a>
			The rumor that Apple will get rid of the headphone jack in the iPhone 7 resurfaced Tuesday. Apple is expected to launch the new iPhone later this year. The iPhone's Lightning connector reportedly will do double duty as its charging port and headphone connector. The result will be a thinner device and better water resistance. If the rumor is true, the move "is right in terms of timing," said Jeff Orr, a senior practice director at ABI Research. "It comes at a time when Apple needs to demonstrate it's still an innovator."

			]]></content:encoded>
	</item>

	<item>
		<title>Twitter Applies '140' Rule to Video Seconds</title>
		<guid isPermaLink="false">http://www.technewsworld.com-83633</guid>
		<link>http://www.technewsworld.com/story/83633.html?rss=1</link>
		<description>Twitter on Tuesday launched enhanced video services that will allow users to post longer videos -- up to 140 seconds. It also announced a new platform for celebrities and public figures to share their stories. Because sports, news, music and other videos increasingly are the type of content that goes viral on Twitter, the company decided to expand content parameters.</description>
		<dc:creator>David Jones</dc:creator>
		<dc:date>2016-06-22T14:16:43-07:00</dc:date>
		<dc:subject>Audio/Video</dc:subject>
		<dcterms:issued>2016-06-22T14:16:43-07:00</dcterms:issued>
		<dcterms:modified>2016-06-24T11:41:49-07:00</dcterms:modified>
		<content:encoded><![CDATA[
			<a href="http://www.technewsworld.com/story/83633.html?rss=1"><img src="http://www.technewsworld.com/images/rw21306/twitter-video" align="left" alt="" hspace="7" border="0" /></a>
			Twitter on Tuesday launched enhanced video services that will allow users to post longer videos -- up to 140 seconds. It also announced a new platform for celebrities and public figures to share their stories. Because sports, news, music and other videos increasingly are the type of content that goes viral on Twitter, the company decided to expand content parameters, noted Jeremy Rishel, head of product development for creators. "Video is becoming increasingly central to the real-time conversations happening on Twitter video."

			]]></content:encoded>
	</item>

	<item>
		<title>Docker Tunes Up Engine Orchestration</title>
		<guid isPermaLink="false">http://www.technewsworld.com-83632</guid>
		<link>http://www.technewsworld.com/story/83632.html?rss=1</link>
		<description>Docker on Monday announced Docker Engine 1.12 with built-in orchestration, which allows automated deployment and management of Dockerized distributed applications and microservices at scale in production. Users can select Docker Swarm mode to turn on built-in orchestration, or they can use their own custom tooling or third-party orchestrators that run on Docker Engine.</description>
		<dc:creator>Richard Adhikari</dc:creator>
		<dc:date>2016-06-22T11:53:00-07:00</dc:date>
		<dc:subject>Software</dc:subject>
		<dcterms:issued>2016-06-22T11:53:00-07:00</dcterms:issued>
		<dcterms:modified>2016-06-22T14:33:33-07:00</dcterms:modified>
		<content:encoded><![CDATA[
			<a href="http://www.technewsworld.com/story/83632.html?rss=1"><img src="http://www.technewsworld.com/images/rw183986/docker" align="left" alt="" hspace="7" border="0" /></a>
			Docker on Monday announced Docker Engine 1.12 with built-in orchestration, which allows automated deployment and management of Dockerized distributed applications and microservices at scale in production. Users can select Docker Swarm mode to turn on built-in orchestration, or they can use their own custom tooling or third-party orchestrators that run on Docker Engine. Docker 1.12 is currently a release candidate. General availability is scheduled for July.

			]]></content:encoded>
	</item>

	<item>
		<title>Google Makes It Easier to Do the 2-Step</title>
		<guid isPermaLink="false">http://www.technewsworld.com-83629</guid>
		<link>http://www.technewsworld.com/story/83629.html?rss=1</link>
		<description>Google on Monday began rolling out a new two-step authentication feature, Google Prompt, targeting enterprise employees. The new option consists of a pop-up that displays a mobile user's name and profile image, and that specifies the location and device involved in the attempted sign-in. The device owner is asked whether to allow or deny the sign-in.</description>
		<dc:creator>Richard Adhikari</dc:creator>
		<dc:date>2016-06-21T16:35:05-07:00</dc:date>
		<dc:subject>Cybersecurity</dc:subject>
		<dcterms:issued>2016-06-21T16:35:05-07:00</dcterms:issued>
		<dcterms:modified>2016-06-22T04:05:35-07:00</dcterms:modified>
		<content:encoded><![CDATA[
			<a href="http://www.technewsworld.com/story/83629.html?rss=1"><img src="http://www.technewsworld.com/images/rw440070/authentication" align="left" alt="" hspace="7" border="0" /></a>
			Google on Monday began rolling out a new two-step authentication feature, Google Prompt, targeting enterprise employees. The new option consists of a pop-up that displays a mobile user's name and profile image, and that specifies the location and device involved in the attempted sign-in. The device owner is asked whether to allow or deny the sign-in. Enterprise end users still have other choices for two-step authentication. They can use a Google Security Key or enter a verification code sent to their phone.

			]]></content:encoded>
	</item>

	<item>
		<title>Gadget Ogling: Pliable Phones, Clever Kicks, and Sumptuous Speakers</title>
		<guid isPermaLink="false">http://www.technewsworld.com-83628</guid>
		<link>http://www.technewsworld.com/story/83628.html?rss=1</link>
		<description>Lenovo has peeled back the curtain on a smartphone that you can wrap around your wrist, sporting a full-color screen. The &quot;CPlus,&quot; as Lenovo calls the prototype, runs Android and has a 4.26-inch display. It will be available in 12 colors if and when it goes on sale. It's clear bendable smartphones will be a viable consumer product in the near future.</description>
		<dc:creator>Kris Holt</dc:creator>
		<dc:date>2016-06-21T14:51:30-07:00</dc:date>
		<dc:subject>Tech Buzz</dc:subject>
		<dcterms:issued>2016-06-21T14:51:30-07:00</dcterms:issued>
		<dcterms:modified>2016-06-24T00:36:09-07:00</dcterms:modified>
		<content:encoded><![CDATA[
			<a href="http://www.technewsworld.com/story/83628.html?rss=1"><img src="http://www.technewsworld.com/images/rw646443/bendable-screen" align="left" alt="" hspace="7" border="0" /></a>
			Lenovo has peeled back the curtain on a smartphone that you can wrap around your wrist, sporting a full-color screen. The "CPlus," as Lenovo calls the prototype, runs Android and has a 4.26-inch display. It will be available in 12 colors if and when it goes on sale. It's clear bendable smartphones will be a viable consumer product in the near future, though I'm still struggling to imagine ever wanting to wear a phone on my wrist. I don't wear a watch, so something with a far bigger screen would require a great deal of adjustment.

			]]></content:encoded>
	</item>

	<item>
		<title>Plume Podifies Home WiFi</title>
		<guid isPermaLink="false">http://www.technewsworld.com-83626</guid>
		<link>http://www.technewsworld.com/story/83626.html?rss=1</link>
		<description>Plume last week introduced its eponymous self-optimizing WiFi system for the home.
Plume adapts in real life to the different network demands made by various devices and ensures that each gets the fastest speeds possible, according to the company.
The recommended setup is one pod per room and connecting space, such as a hallway, plus any cable or DSL modem or any modem/router combination.</description>
		<dc:creator>Richard Adhikari</dc:creator>
		<dc:date>2016-06-21T11:02:48-07:00</dc:date>
		<dc:subject>Home Tech</dc:subject>
		<dcterms:issued>2016-06-21T11:02:48-07:00</dcterms:issued>
		<dcterms:modified>2016-06-21T11:02:50-07:00</dcterms:modified>
		<content:encoded><![CDATA[
			<a href="http://www.technewsworld.com/story/83626.html?rss=1"><img src="http://www.technewsworld.com/images/rw505884/home-wifi-network" align="left" alt="" hspace="7" border="0" /></a>
			Plume last week introduced its eponymous self-optimizing WiFi system for the home.
Plume adapts in real life to the different network demands made by various devices and ensures that each gets the fastest speeds possible, according to the company.
The recommended setup is one pod per room and connecting space, such as a hallway, plus any cable or DSL modem or any modem/router combination. Users simply download the Plume app on Android or iOS to activate the system.

			]]></content:encoded>
	</item>

	<item>
		<title>AI for President</title>
		<guid isPermaLink="false">http://www.technewsworld.com-83616</guid>
		<link>http://www.technewsworld.com/story/83616.html?rss=1</link>
		<description>Andy Rubin, Android's daddy, last week made some interesting comments about quantum computing and artificial intelligence. The part I agree with is it won't be long until most things we have are connected to an intelligent machine. However, when referring to something that will be far smarter than we are, the use of the term &quot;artificial&quot; would not just be inaccurate -- it would be rude.</description>
		<dc:creator>Rob Enderle</dc:creator>
		<dc:date>2016-06-20T09:18:23-07:00</dc:date>
		<dc:subject>Tech Buzz</dc:subject>
		<dcterms:issued>2016-06-20T09:18:23-07:00</dcterms:issued>
		<dcterms:modified>2016-06-24T18:07:17-07:00</dcterms:modified>
		<content:encoded><![CDATA[
			<a href="http://www.technewsworld.com/story/83616.html?rss=1"><img src="http://www.technewsworld.com/images/rw494000/artificial-intelligence" align="left" alt="" hspace="7" border="0" /></a>
			Andy Rubin, Android's daddy, last week made some interesting comments about quantum computing and artificial intelligence. The part I agree with is it won't be long until most things we have are connected to an intelligent machine. However, when referring to something that will be far smarter than we are, the use of the term "artificial" would not just be inaccurate -- it would be rude. I disagree that there will be only one, though, because competition, latency, governments, uses, and privacy concerns alone will ensure there are many.

			]]></content:encoded>
	</item>

	<item>
		<title>Linux Snap Package Format Goes Multi-Distro</title>
		<guid isPermaLink="false">http://www.technewsworld.com-83623</guid>
		<link>http://www.technewsworld.com/story/83623.html?rss=1</link>
		<description>Snapcraft -- the Linux package format Canonical developed for Ubuntu -- now works on multiple Linux distros, including Arch, Debian, Fedora and various flavors of Ubuntu.
They're being validated on CentOS, Elementary, Gentoo, Mint, OpenSUSE, OpenWrt and RHEL. &quot;Distributing applications on Linux is not always easy,&quot; said Canonical's Manik Taneja, product manager for Snappy Ubuntu Core.</description>
		<dc:creator>Richard Adhikari</dc:creator>
		<dc:date>2016-06-20T13:03:51-07:00</dc:date>
		<dc:subject>Software</dc:subject>
		<dcterms:issued>2016-06-20T13:03:51-07:00</dcterms:issued>
		<dcterms:modified>2016-06-20T16:34:51-07:00</dcterms:modified>
		<content:encoded><![CDATA[
			<a href="http://www.technewsworld.com/story/83623.html?rss=1"><img src="http://www.technewsworld.com/images/rw486742/linux-software-package" align="left" alt="" hspace="7" border="0" /></a>
			Snapcraft -- the Linux package format Canonical developed for Ubuntu -- now works on multiple Linux distros, including Arch, Debian, Fedora and various flavors of Ubuntu.
They're being validated on CentOS, Elementary, Gentoo, Mint, OpenSUSE, OpenWrt and RHEL. "Distributing applications on Linux is not always easy," said Canonical's Manik Taneja, product manager for Snappy Ubuntu Core. "You have different packaging formats, base systems, available libraries and distribution release cadences."

			]]></content:encoded>
	</item>

	<item>
		<title>Google: Dare to Daydream</title>
		<guid isPermaLink="false">http://www.technewsworld.com-83620</guid>
		<link>http://www.technewsworld.com/story/83620.html?rss=1</link>
		<description>Google's Cardboard has proved to the masses that virtual reality is more than a pipe dream. Inexpensive cardboard headsets leverage smartphones to create makeshift head-mounted displays for low-level VR experiences. For those whose fancies of owning a US$600 Rift or a $900 Vive were out of reach, Cardboard was a way to keep their imaginations captive while Google was dreaming of Daydream.</description>
		<dc:creator>Quinten Plummer</dc:creator>
		<dc:date>2016-06-18T10:48:25-07:00</dc:date>
		<dc:subject>Virtual Reality</dc:subject>
		<dcterms:issued>2016-06-18T10:48:25-07:00</dcterms:issued>
		<dcterms:modified>2016-06-18T16:03:50-07:00</dcterms:modified>
		<content:encoded><![CDATA[
			<a href="http://www.technewsworld.com/story/83620.html?rss=1"><img src="http://www.technewsworld.com/images/rw865613/google-vr" align="left" alt="" hspace="7" border="0" /></a>
			Google's Cardboard has proved to the masses that virtual reality is more than a pipe dream. Inexpensive cardboard headsets leverage smartphones to create makeshift head-mounted displays for low-level VR experiences. For those whose fancies of owning a US$600 Rift or a $900 Vive were out of reach, Cardboard was a way to keep their imaginations captive while Google was dreaming of Daydream. Coming two full Google I/O developer conferences after the introduction of Cardboard, Daydream gathers novel and nebulous ideas into a cohesive ecosystem.

			]]></content:encoded>
	</item>

	<item>
		<title>Facebook Gives Messenger More Jobs to Do</title>
		<guid isPermaLink="false">http://www.technewsworld.com-83619</guid>
		<link>http://www.technewsworld.com/story/83619.html?rss=1</link>
		<description>Facebook on Thursday unveiled its redesigned Messenger app, which replaces the list of conversations it previously displayed with a home screen that will let users perform more actions within a chat. The Home tab now organizes Messenger into recent conversations, favorites, active users, and messages awaiting a response. It has a shortcut that reminds users about Facebook friends' birthdays.</description>
		<dc:creator>Richard Adhikari</dc:creator>
		<dc:date>2016-06-17T10:00:00-07:00</dc:date>
		<dc:subject>Mobile Apps</dc:subject>
		<dcterms:issued>2016-06-17T10:00:00-07:00</dcterms:issued>
		<dcterms:modified>2016-06-18T04:06:53-07:00</dcterms:modified>
		<content:encoded><![CDATA[
			<a href="http://www.technewsworld.com/story/83619.html?rss=1"><img src="http://www.technewsworld.com/images/rw651419/facebook-messenger" align="left" alt="" hspace="7" border="0" /></a>
			Facebook on Thursday unveiled its redesigned Messenger app, which replaces the list of conversations it previously displayed with a home screen that will let users perform more actions within a chat. The Home tab now organizes Messenger into recent conversations, favorites, active users, and messages awaiting a response. It has a shortcut that reminds users about Facebook friends' birthdays. Messenger now prepopulates users' favorites list based on whom they exchange messages with most often.

			]]></content:encoded>
	</item>

	<item>
		<title>Nintendo's New Zelda Adventure Draws E3 Cheers</title>
		<guid isPermaLink="false">http://www.technewsworld.com-83613</guid>
		<link>http://www.technewsworld.com/story/83613.html?rss=1</link>
		<description>Nintendo on Tuesday offered E3 attendees a preview of &lt;em&gt;The Legend of Zelda: Breath of the Wild&lt;/em&gt;, the latest title in the action-adventure franchise. This time the story involves much more than rescuing a princess. The game actually has been years in the making, and at E3 Nintendo pulled out all stops, devoting much of its booth to the game. Nintendo presented two different demos of &lt;em&gt;Breath of Wild&lt;/em&gt;.</description>
		<dc:creator>Peter Suciu</dc:creator>
		<dc:date>2016-06-16T13:08:48-07:00</dc:date>
		<dc:subject>Gaming</dc:subject>
		<dcterms:issued>2016-06-16T13:08:48-07:00</dcterms:issued>
		<dcterms:modified>2016-06-18T07:10:54-07:00</dcterms:modified>
		<content:encoded><![CDATA[
			<a href="http://www.technewsworld.com/story/83613.html?rss=1"><img src="http://www.technewsworld.com/images/rw596671/nintendo-wii-u" align="left" alt="" hspace="7" border="0" /></a>
			Nintendo on Tuesday offered E3 attendees a preview of <em>The Legend of Zelda: Breath of the Wild</em>, the latest title in the action-adventure franchise. This time the story involves much more than rescuing a princess. The game actually has been years in the making, and at E3 Nintendo pulled out all stops, devoting much of its booth to the game. Nintendo presented two different demos of <em>Breath of Wild</em>. One focused on the exploration and game mechanics, while the other provided elements of the story line.

			]]></content:encoded>
	</item>

	<item>
		<title>WatchOS 3 Offers New Hope for Smartwatch Category</title>
		<guid isPermaLink="false">http://www.technewsworld.com-83614</guid>
		<link>http://www.technewsworld.com/story/83614.html?rss=1</link>
		<description>Apple finally responded to concerns that were threatening to scuttle its once-promising wearables category. Its introduction of watchOS 3 at this week's WWDC has drawn high praise. The Apple Watch represented the company's attempt to marry the ultimate Dick Tracy smart gadget with the genius of the iPhone, but it fell short. Instead of a convenience, it was far too slow and complicated.</description>
		<dc:creator>David Jones</dc:creator>
		<dc:date>2016-06-16T15:11:34-07:00</dc:date>
		<dc:subject>Mobile</dc:subject>
		<dcterms:issued>2016-06-16T15:11:34-07:00</dcterms:issued>
		<dcterms:modified>2016-06-16T23:19:20-07:00</dcterms:modified>
		<content:encoded><![CDATA[
			<a href="http://www.technewsworld.com/story/83614.html?rss=1"><img src="http://www.technewsworld.com/images/rw529081/apple-watch" align="left" alt="" hspace="7" border="0" /></a>
			Apple finally responded to concerns that were threatening to scuttle its once-promising wearables category. Its introduction of watchOS 3 at this week's WWDC has drawn high praise. The Apple Watch represented the company's attempt to marry the ultimate Dick Tracy smart gadget with the genius of the iPhone, but it fell short. Instead of a convenience, it was far too slow and complicated for many consumers to navigate. WatchOS 3 is a "significant and welcome upgrade," said Jitesh Ubrani, senior research analyst at IDC.

			]]></content:encoded>
	</item>

	<item>
		<title>Facebook Tackles Suicide Prevention Worldwide</title>
		<guid isPermaLink="false">http://www.technewsworld.com-83612</guid>
		<link>http://www.technewsworld.com/story/83612.html?rss=1</link>
		<description>Facebook plans to roll out its suicide prevention tools and resources around the world. Already available in the U.S., the resources are designed to help members who may be thinking about committing suicide or otherwise hurting themselves, as well as family and friends who are concerned about their loved ones' well being. The tools are available in the local languages where members are based.</description>
		<dc:creator>David Jones</dc:creator>
		<dc:date>2016-06-16T10:06:31-07:00</dc:date>
		<dc:subject>Social Networking</dc:subject>
		<dcterms:issued>2016-06-16T10:06:31-07:00</dcterms:issued>
		<dcterms:modified>2016-06-16T10:06:34-07:00</dcterms:modified>
		<content:encoded><![CDATA[
			<a href="http://www.technewsworld.com/story/83612.html?rss=1"><img src="http://www.technewsworld.com/images/rw106293/facebook-harassment" align="left" alt="" hspace="7" border="0" /></a>
			Facebook has said it will roll out its suicide prevention tools and resources around the world. Already available in the U.S., the resources are designed to help members who may be thinking about committing suicide or otherwise hurting themselves, as well as family and friends who are concerned about their loved ones' well being.
Members can use the updated resources either to contact the vulnerable person directly or to contact Facebook, which has teams of workers dedicated to making sure a Facebook member in distress is able to find help.

			]]></content:encoded>
	</item>

</channel>
</rss>
